/* Fading Tooltips By Dustin Diaz*/
body div#toolTip {
	position:absolute;
	z-index:1000;
	max-width:400px;
	background:#000;
	border: 1px solid #fff;
	text-align:left;
	padding: 8px 15px 8px 8px;
	min-height:1em;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
body div#toolTip p {
	margin:0;
	padding:0;
	color:#fff;
	font:11px/12px verdana,arial,sans-serif;
	text-indent: 0;
}
body div#toolTip table {
	margin:0;
	padding:0;
	color:#fff;
	font:11px/12px verdana,arial,sans-serif;
	text-indent: 0;
}
body div#toolTip th {
	margin:0;
	padding:0.2em 0.5em;
	color:#fff;
	text-align: center;
	font-weight: bolder;
	border-bottom: 1px solid white;
	text-indent: 0;
}
body div#toolTip h4 {
	display: inline;
	margin: 0;
	padding: 0;
	margin-top:3px;
	color:#f60;
	font-style:normal;
	font-size: 0.8em;
	font-weight:bold;
	text-align: center;
	font-variant: small-caps;
	text-decoration: none;
}
body div#toolTip p em {
	display:block;
	margin-top:3px;
	color:#f60;
	font-style:normal;
	font-weight:bold;
}
body div#toolTip p em span {
	font-weight:bold;
	color:#fff;
}
