{#- Copyright 2011 META IT & Olivier Cortès <olive@licorn.org>
    Distributed under the terms of the GNU GPL version 2. -#}

{%- from 'widgets/common.html' import countdown with context -%}
{%- from 'backup/widgets.html' import eject_status, operations_status with context -%}

<style type="text/css">
.volumes_list {
	margin-top: 20px;
	list-style: none;
}

.volumes_list li {
	margin-top: 20px;
}

.volumes_list ul {
	margin-top: 5px;
}
.volumes_list ul li {
	white-space: nowrap;
	#padding-left: 10px;
	margin-left: 25px;
	margin-top: 0;
}

.backups_important {
	text-align: center;
	margin: 10px 10%;
	padding: 7px 7px 7px 62px;
	font-weight: bolder;
	border-radius:5px;
	background-color: #CB4B4B;
	background-image: url('/media/images/48x48/dialog-warning.png');
	background-repeat:no-repeat;
	background-position: 12px center;
}

.backups_statistics {
	font-size: 70%;
	padding: 1em 0;
}
</style>
	<div style="font-size:120%;
		text-align: justify; margin-left:10%;
		margin-right: 10%;">

	{%- if extension.event('active') -%}

		{%- if extension.event('running') -%}

			<div class="backups important backups_important">

			{%- if extension.event('backup') -%}
				{{
					 _('A backup is currently in progress, '
						'please do not disconnect '
						'<strong>{volume}</strong>.').format(
							volume=curvol.mount_point)
				}}

			{%- else -%}
				{{
					_('Old backups are currently beiing cleaned '
						' or statistics are beiing computed on '
						'<strong>{volume}</strong>. Please do not '
						'disconnect this volume.').format(
							volume=curvol.mount_point)
				}}

			{%- endif -%}

			</div>

		{%- endif -%}

		{{ operations_status() }}

		{%- if mounted_volumes != [] -%}

			{%- for volume in mounted_volumes -%}

				<h2>{{ _('Volume {0}').format(volume.name) }}</h2>
				<p>{{ eject_status(volume, extension.event('backup')) }}</p>
				<!-- NEED TO FORMAT THESE VALUES INTO A STRING
					<p>{{ extension._backup_informations(volume)
								if extension.event('running') else '' }}</p>-->

				{%- set stats = extension._backup_history(volume.device) -%}

				{%- if stats == None -%}
					<p>
						{{
							_('No historical data yet on <strong>{0}</strong>. '
							'Please wait for the first backup to finish.').format(volume.name)
						}}
					</p>

				{%- else -%}
					<h3>{{ _('Backup history on {0}').format(volume.name) }}</h3>
					<pre class="backups_statistics">
					{{ stats }}
					</pre>
					<br /><br /><br />

				{%- endif -%}
			{%- endfor -%}

		{%- else -%}

			<p>
				{{
				_('All backup volumes are currently unmounted (you can safely '
					'disconnect them from your server).')
				}}<br /><br />
				{{
					_('Next '
					'automatic backup:')
				}}{{
					 countdown(extension.time_before_next_automatic_backup())
				}}<br /><br />{{
					_('Note: any still connected backup volume will '
					'be automatically re-mounted if needed.')
				}}
			</p>

		{%- endif -%}

	</div><!-- large base_div -->

	{%- else -%}
		{%- if volumes == [] -%}

			{{ _('No backup '
				'volume found: '
				'no external volume is currently connected to '
				'the server, or all the '
				'connected volumes are not <a '
				'href="http://docs.licorn.org/extensions/'
				'volumes.en.html#extensions-volumes-compatible-en" '
				'class="online_help" target="_blank" '
				'title="Click to know which volumes are compatible, '
				'and how to make one.">compatible with '
				'Licorn®</a>.<br /><br />'
				'Please connect a compatible backup volume to your '
				'server, wait a few seconds and reload the current page.')
			}}

		{%- else -%}
			{{
				_('One or '
					'more external volume(s) is '
					'connected, but none is currently dedicated to '
					'Licorn®. Would you like to '
					'<a href="http://docs.licorn.org/extensions/'
					'volumes.en.html#extensions-volumes-reserve-en" '
					'class="online_help" target="_blank">enable and '
					'reserve</a> any of them for Licorn® use?')
			}}
			<ul class="volumes_list">

			{%- for volume in volumes -%}
				<li><form action="/backups/enable/{{ volume.device.rsplit('/', 1)[1] }}"
						method="GET"><input
							type="button" class="action_button use_volume_button"
							value="{{ _('use volume “{0}”').format(volume.name) }}" />
					</form>
						<p>{{ eject_status(volume, extension.event('backup')) }}</p>
						<ul class="volume_atributes">
						<li>
							{{
								_('currently not mounted,')
									if volume.mount_point == None
									else _('currently mounted on: <strong>{0}</strong>,').format(
														volume.mount_point)
							}}
						</li>
						<li>{{ _('device: <strong>{0}</strong>,').format(volume.device) }}
							({{ _('GUID: {0}').format(volume.guid) }})</li>
						<li>{{ _('FS type: <strong>{0}</strong>').format(volume.fstype) }}</li>
					</ul>
			{%- endfor -%}

			</ul>

		{%- endif -%}

	{%- endif -%}

	</div>
	<script type="text/javascript" language="javascript">
	$(document).ready(function() {

		$('.action_button').each(function() {
			$(this).click(function() {

				thelink = $(this).parent().attr('action');

				$.get(thelink, function(data){
					//console.log(thelink + ' returned ' + data);
				});
			});
		});

		setup_ajaxized_links('.ajax-backup-link');
	});
	</script>
