{#- Copyright
		2012 META IT http://meta-it.fr/
		2012 Olivier Cortès <olive@licorn.org>

    Distributed under the terms of the GNU GPL version 2.
-#}

{% extends "base.html" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div id="vertical_wrapper">
        <!--<div id="vertical_wrapper">-->
            <div id="content">
                <div id="content_filler">
					<h1>{{ _('Page not found!') }}</h1>
                </div><!-- content_filler -->
            </div><!-- content -->
        <!--</div>-->
    </div><!-- vertical_wrapper -->
{% endblock %}
