{# Here we assemble translated strings that Django misses.
	The current file is not used nor included anywhere else. #}

{# 500.html #}
	{{ _('go back and continue using it') }}

{# sidebar.html #}
	{{ _('Restart the server') }}
	{{ _('Restart') }}
	{{ _('Shutdown the server')}}
	{{ _('Shutdown') }}
	{{ _('View the Licorn® daemon detailled status') }}
	{{ _('Daemon status') }}
	{{ _('Server, UPS and hardware sub-systems status')}}
	{{ _('Status') }}
	{{ _('Manage user accounts') }}
	{{ _('Users') }}
	{{ _('Add user on the system') }}
	{{ _('Add') }}
	{{ _('Import user accounts from a CSV file') }}
	{{ _('Import') }}
	{{ _('Manage groups and shared data') }}
	{{ _('Groups') }}
	{{ _('Add a group on the system') }}
	{{ _('Add') }}
	{{ _('Import groups from a CSV file') }}
	{{ _('Import') }}
	{{ _('Manage machines on the network') }}
	{{ _('Machines') }}
	{{ _('Scan the network') }}
	{{ _('Scan network') }}
	{{ _('Manage energy policies of the network and clients') }}
	{{ _('Energy') }}
	{{ _('View or change my own details') }}
	{{ _('My information') }}
	{{ _('Go to online documentation website (in another window/tab)') }}
	{{ _('Documentation') }}
	{{ _('Get product support / help') }}
	{{ _('Support') }}


{#- widgets/common.html -#}
	{{ _('d') }}
	{{ _(' day') }}
	{{ _(' days') }}

	{{ _('h') }}
	{{ _(' hour') }}
	{{ _(' hours') }}

	{{ _('m') }}
	{{ _(' minute') }}
	{{ _(' minutes') }}

	{{ _('s') }}
	{{ _(' second') }}
	{{ _(' seconds') }}
