{#- Copyright 2011 META IT & Robin Lucbernet<rl@meta-it.fr>
    Distributed under the terms of the GNU GPL version 2. -#}

{#- REMOVE IT -#}
{% from 'widgets/common.html' import licorn_list, jquery_popover_media with context %}

{%- extends 'template_one_content.html' -%}

{%- block extended_media -%}
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/media/css/licorn_table.css" />
	<script language="javascript" type="text/javascript" src="/media/js/jquery.uitablefilter.js"></script>
	<script language="javascript" type="text/javascript" src="/media/js/jquery.iselectable.js"></script>

	<link rel="stylesheet" type="text/less" media="screen,projection" href="/media/css/ug-popover.css" />
	


{%- endblock -%}

{%- block title -%} {%- endblock -%}

{%- block main_content -%}
	<div class="modal hide fade" id="modal">
		{{ edit_html }}
	</div>

	<div class='table_header'>
		<span id="table_header_title">
			{%- block list_title -%}
			{%- endblock -%}
		</span>

		<span id="table_header_massive_actions" class='table_header_item'>
			<!--<table>
				<tr>
					<td>
						{{ _('Massive actions:') }}
					</td>
					<td>
						
					</td>
				</tr>
			</table>-->
						<div class="centered">{{ _('Massive actions:') }}</div>
						<div class="centered">
							{%- block massive_actions -%}
							{%- endblock -%}
						</div>
		</span>


		<span id="table_header_filter" class='table_header_item'>
			<div class="centered">{{ _('Filters:') }}</div>
			<div class="centered" id='list_filter'>
				{%- block list_filters -%}
				{%- endblock -%}
			</div>
		</span>

		<span id="table_header_search" class='table_header_item'>
			<div class="centered">&nbsp;</div>
			<div class="input-prepend" >
				<span class="add-on">{{ _('Search') }}</i></span><input type='text' id="list_search"/>
			</div>
		</span>
	</div>
	<table class="table sortable" id="model_groups_table">
		<thead>
			<tr>
				{%- block list_headers -%}
				{%- endblock -%}
			</tr>
		</thead>
		<tbody id='table_tbody'>
			{%- block list_body -%}
			{%- endblock -%}
		</tbody>
	</table>

	<!--<style>
	#table_tbody {
		display:block;
		overflow: auto;
		height: 100%;
	}
	#model_groups_table thead {
		display:block;
	}
	#model_groups_table {
		height:90%;
	}
	</style>-->

	<script language="javascript" type="text/javascript">
		$(document).ready(function() {

			//$('#special_hide').attr('disabled', 'false');


			var START_TIME = new Date().getTime();
			setup_list();
			var END_TIME = new Date().getTime();
			totalTime = (END_TIME - START_TIME);

			console.log(totalTime)


			{%- if edit_html -%} 
				$("#machine_modal").modal();
			{%- endif -%}
		});

		function setup_list(list_name) {
			// search field
			setup_table_search($('#model_groups_table'), $('#list_search'))

			// make rows selectable
			setup_table_row_selectable($('#model_groups_table tbody'), select_active_class, '.not-me');

			// filters btn
			var filters = { 'standard' : true, 'system': true, 'restricted': false, 'privileged': true}
			setup_table_filter($('#model_groups_table tbody tr'), $('.filter_item'), filters)

			// setup doubleclick on each rows
			setup_table_row_doubleclick($('#model_groups_table tbody td'), function(td) {
				if (! $(td).hasClass('no_double_click')) {

					gid = td.data('gid')

					if (gid == null) {
						gid = td.parent('.licorn_row').data('gid')
					}

					$.get('/groups/edit/'+gid, function(modal_html) {
						$("#modal").html(modal_html).modal()
					})
				}
			});
			// setup the sort plugin
			//setup_table_sorter([[2,0]]);

			//massives actions
			setup_massive_actions();

			// on row hover, always clean interface in case of previus preselection with keyboard
			$('#model_groups_table tbody tr').hover(function(){
				//in
				$('#model_groups_table tr').css({"background-color":"none"})
				$(this).css({'background-color': background_color_hover})

				$('.preselected_row').removeClass('preselected_row')
				$(this).addClass('preselected_row')

			}, function() {
				//out
				$(this).css({'background-color': "none"})
			})
		}

		// to move in common.js
		function setup_table_filter(table_rows, items, filters) {
			/* setup table filters */

			$.each(items, function(i, item) {
				// setup interface
				if (filters[$(item).data('filter')]) {
					$(item).addClass('active')
				}
				else {
					$(item).removeClass('active')
				}
			})

			$(items).click(function() {
				// check the filter state
				if ($(this).hasClass('active')) {
					// the filter is currently activated, disable it
					$(this).removeClass('.active');
					filters[$(this).data('filter')] = false;
				}
				else {
					// set the filter as active
					$(this).addClass('.active')
					filters[$(this).data('filter')] = true;
				}
				do_filter()
				console.log("tarararar")
			})
			do_filter()
			function do_filter() {
				/* really do the filter, show/hide rows */
				//var START = new Date().getTime();

				$.each(filters, function(name, on_state) {
					filter_items = $('#table_tbody .filter_'+name)
					if (on_state) {
						filter_items.css('display', '')
					}
					else {
						filter_items.css('display', 'none');
					}
				})

				//var END = new Date().getTime();
				//tTime = (END - START);

				//console.log("do_filter", tTime)
			}
		}

		function setup_massive_actions() {
			$('.massive_action').click(function() {
				// get selected items
				selected_rows = get_selected_rows($('#model_groups_table tbody'), select_active_class);
				console.log(selected_rows)
				action_name = $(this).data('name')
				action_url = $(this).data('url')

				if (selected_rows.length == 0) {
					show_message_through_notification('{{ _("Please select at least one group to apply massive action <strong><em>'+action_name+'</em></strong> on") }}');
				}
				else {
					gids=[]
					$.each(get_selected_rows($('#model_groups_table tbody'), select_active_class), function(i, item) {
						gids.push($(item).data('gid'))
					})

					// get the massive selection template
					url = '/groups/massive_select_template/'+action_name+'/'+gids.join(',')
					console.log(url);
					$.get(url, function(modal_html) {
						$("#modal").html(modal_html).modal()
						init_massive_select_events(action_name, action_url, gids);
					})
				}
			})
		}
		function init_massive_select_events(action_name, action_url, gids) {
			console.log("init_massive_select_events", action_name, action_url, gids)
			$('#apply_massive_action').click(function() {
				// close the modal
				$("#machine_modal").modal('hide')

				// run the action
				if (action_name == 'export') {
					$.get(action_url + gids, function(data) {
						file_name = data.file_name
						iframe = document.getElementById('download_iframe')
						iframe.src = "/system/download/"+file_name

					}, "json")
				}
				else {
					$.get(action_url + gids)
				}

				// unselect all rows
				$('.row_selected').removeClass('row_selected')

			})
		}













		var select_active_class = 'row_selected'
		var background_color_hover = 'rgb(245, 245, 245)'
		var setup_row_timeout;

















	
		function bind_keys() {

		
			$(document).keyup(function(e) {
				/* if a table filter as been set, unset it.
				If not, if rows are selected, unselect them. */
				console.log('key :', e.keyCode)
				if (e.keyCode == 27) {    // ESC
					// on ESC, first remove search content, secondly unselect row

					var searchb = $('#list_filter');

					if (searchb != [] && searchb.val() != "") {
						searchb.val('');
						searchb.keyup();

					} else {
						/*$.each(get_selected_rows($('#model_machines_table tbody'), select_active_class), function(i, item) {
							console.log(i, item)
							$(item).removeClass('row_selected').trigger('mousedown').trigger('mouseup');
						})*/
						$('.row_selected').removeClass('row_selected')
					}
				}



				
				/* Rows selection mecanism */
				if (e.keyCode == 74 || e.keyCode == 75 || e.keyCode == 83) {
					var preselected_row  = null;

					var next_row         = null
					var previus_row      = null
					var new_selected_row = null

					// find where to start 
					console.log('seeking where to start')
					if ($('.preselected_row').length == 0) {

						$.each($('tbody tr'), function() {
							//console.log($(this).css('background-color'), background_color_hover, $(this).css('background-color') == background_color_hover)
							if ($(this).css('background-color') == background_color_hover) {
								preselected_row = $(this);
							}
						});
					}
					else {
						preselected_row = $('.preselected_row')
					}

				}


				if (e.keyCode == 74) {    // J = next
					if (preselected_row == null) {
						// no, preselected row, start from the top
						new_selected_row = $('table tbody tr:first');
					}
					else {
						// one row is already preselected, start from it
						next_row = preselected_row.next(':visible')
						if (next_row.length == 0) {
							next_row = preselected_row.nextUntil(':visible').last().next()
						}
						new_selected_row = next_row;					}
				}

				if (e.keyCode == 75) {    // K = previus
					if (preselected_row == null) {
						// no, preselected row, start from the top
						new_selected_row = $('table tbody tr:first');
					}
					else {
						// one row is already preselected, start from it
						prev_row = preselected_row.prev(':visible')
						if (prev_row.length == 0) {
							prev_row = preselected_row.prevUntil(':visible').prev().last();
						}
						new_selected_row = prev_row;
						
					}

				}
				if (e.keyCode == 74 || e.keyCode == 75) {
					
					if (new_selected_row.length != 0) {
						if (preselected_row != null) {
							// unpreselect preselected_row
							preselected_row.css({'background-color': "none"})
						}
						console.log("setting preselected_row")
						$('.preselected_row').removeClass('preselected_row')
					
						new_selected_row.addClass('preselected_row').css({'background-color' : background_color_hover})

						//

						$('body').scrollTop(new_selected_row.position().top - $(window).height()/2)
					}
				}



				if (e.keyCode == 83) {    // s
					if (preselected_row.hasClass(select_active_class)) {
						preselected_row.removeClass(select_active_class)
					}
					else {
						// if a row is "preselected", select it
						$('.preselected_row').removeClass('preselected_row')
						preselected_row.addClass('preselected_row').addClass(select_active_class)
					}

				}

				if (e.keyCode == 13) {    // enter
					selected_rows = get_selected_rows($('#model_groups_table tbody'), select_active_class);
					console.log($(selected_rows))
					if (selected_rows.length == 1) {
						gid = $(selected_rows).data('gid');
						$.get('/groups/edit/'+gid, function(modal_html) {
							$("#modal").html(modal_html).modal()
						})
					}
					else if (selected_rows.length > 1) {
						console.log("mass edit", selected_rows)
					}


				}

			});

		}
	</script>


{%- endblock -%}





















