{#- Copyright 2011 META IT & Robin Lucbernet<rl@meta-it.fr>
    Distributed under the terms of the GNU GPL version 2. -#}

{#- REMOVE IT -#}
{% from 'widgets/common.html' import licorn_list, jquery_popover_media with context %}

{%- extends 'template_one_content.html' -%}

{%- block extended_media -%}
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/media/css/licorn_table.css" />
	<script language="javascript" type="text/javascript" src="/media/js/jquery.uitablefilter.js"></script>
	<script language="javascript" type="text/javascript" src="/media/js/jquery.iselectable.js"></script>
	<script language="javascript" type="text/javascript" src="/media/js/sorttable.js"></script>
	<script language="javascript" type="text/javascript" src="/media/js/jquery.tablescroll.js"></script>

	<link rel="stylesheet" type="text/less" media="screen,projection" href="/media/css/ug-popover.css" />
	


{%- endblock -%}

{%- block title -%} {%- endblock -%}

{%- block main_content -%}
	<div class="modal hide fade" id="modal">
		{{ edit_html }}
	</div>

	<div class='table_header'>
		<span id="table_header_title">
			{%- block list_title -%}
			{%- endblock -%}
		</span>

		<span id="table_header_massive_actions" class='table_header_item'>
			<!--<table>
				<tr>
					<td>
						{{ _('Massive actions:') }}
					</td>
					<td>
						
					</td>
				</tr>
			</table>-->
						<div class="centered">{{ _('Massive actions:') }}</div>
						<div class="centered">
							{%- block massive_actions -%}
							{%- endblock -%}
						</div>
		</span>


		<span id="table_header_filter" class='table_header_item'>
			<div class="centered">{{ _('Filters:') }}</div>
			<div class="centered" id='list_filter'>
				{%- block list_filters -%}
				{%- endblock -%}
			</div>
		</span>

		<span id="table_header_search" class='table_header_item'>
			<div class="centered">&nbsp;</div>
			<div class="input-prepend" >
				<span class="add-on"><i class="icon-search"></i></span><input type='text' accesskey="f" id="list_search"/>
			</div>
		</span>
	</div>

	<div id='table_wrapper'>
	<table class="table sortable" id="model_groups_table">
		<thead>
			<tr>
				{%- block list_headers -%}
				{%- endblock -%}
			</tr>
		</thead>
		<tbody id='table_tbody'>
			{%- block list_body -%}
			{%- endblock -%}
		</tbody>
	</table>
	</div>

	
	<style>
		.table_header{
			position: fixed;
			background-color: white;
		}
		#table_wrapper {
			margin-top:20px;
		}
		.table_header {
			top: 0px;
		}

	</style>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('.table_header').width($('table').width())
		})
	</script>






	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
		
			var START_TIME = new Date().getTime();
			setup_list();
			var END_TIME = new Date().getTime();
			totalTime = (END_TIME - START_TIME);

			console.log("total time to setup list", totalTime)

			{%- if edit_html -%} 
				$("#machine_modal").modal();
			{%- endif -%}
		});

		function groups_doubleclick_row(td) {

			if (! $(td).hasClass('no_double_click')) {

				gid = td.data('gid')

				if (gid == null) {
					gid = td.parent('.licorn_row').data('gid')
				}

				$.get('/groups/edit/'+gid, function(modal_html) {
					$("#modal").html(modal_html).modal()
				})
			}
		}
		

		function setup_list(list_name) {
			// search field
			//setup_table_search($('#model_groups_table'), $('#list_search'))
			var search_timeout;
			searchbox=$('#list_search')
			searchbox.keyup(function() {



		

				clearTimeout(search_timeout)

			
				search_timeout = setTimeout( function() {
						

						console.log('keyup', searchbox.val())
						val = searchbox.val()

						$('.filtered:not(.hidden)').addClass('hidden');
						if (val == '') {
							$('.not_filtered').css('display', '').removeClass('hidden')
							$('.filtered').removeClass('hidden')
						}
						else {
							$('.not_filtered:not(:contains('+val+'))').css('display', 'none').addClass('hidden')
							$('.not_filtered:contains('+val+')').css('display', '').removeClass('hidden')
							
						}
					
					},50);






				/*$.each($('.not_filtered.not_hidden'), function() {
					var _this = $(this);
					td = _this.find('td:visible')
					text = td.text();

					if (val == '') {
						_this.css('display', '').removeClass('hidden')
					}
					
					else if (text.indexOf(val) == -1) {
						_this.css('display', 'none').addClass('hidden')
					}


				})*/
			})

			


			// make rows selectable
			setup_table_row_selectable($('#model_groups_table tbody'), select_active_class, '.not-me');

			// filters btn
			var filters = { 'standard' : true, 'system': true, 'restricted': false, 'privileged': true}
			setup_table_filter($('#model_groups_table tbody tr'), $('.filter_item'), filters)

			// setup doubleclick on each rows
			setup_table_row_doubleclick($('#model_groups_table tbody td'), groups_doubleclick_row);
			// setup the sort plugin
			// PERF ISSUE
			//setup_table_sorter([[2,0]]);

			//massives actions
			setup_massive_actions();

			setup_hover();

			setup_ajaxized_link($('#model_groups_table tbody td'));

			// PERF ISSUE
			//$('.licorn_tooltip').tooltip()
		}

		// to move in common.js
		function setup_table_filter(table_rows, items, filters) {
			/* setup table filters */

			$.each(items, function(i, item) {
				// setup interface
				if (filters[$(item).data('filter')]) {
					$(item).addClass('active')
				}
				else {
					$(item).removeClass('active')
				}
			})

			$(items).click(function() {
				// check the filter state
				if ($(this).hasClass('active')) {
					// the filter is currently activated, disable it
					$(this).removeClass('.active');
					filters[$(this).data('filter')] = false;
				}
				else {
					// set the filter as active
					$(this).addClass('.active')
					filters[$(this).data('filter')] = true;
				}
				console.log('>DOFITLER')
				do_filter()

				console.log('<DOFITLER')
				console.log("tarararar")
			})
			do_filter()
			function do_filter() {
				/* really do the filter, show/hide rows */
				//var START = new Date().getTime();

				$.each(filters, function(name, on_state) {
					filter_items = $('#table_tbody .filter_'+name+'')
					if (on_state) {
						filter_items.addClass('not_filtered').removeClass('filtered').css('display', '')
					}
					else {
						filter_items.removeClass('not_filtered').addClass('filtered').css('display', 'none');
					}
				})

				//var END = new Date().getTime();
				//tTime = (END - START);

				//console.log("do_filter", tTime)
			}
		}
		function setup_ajaxized_link(items) {
			items.find('.ajaxized_link').click(function() {
				$.get($(this).attr('href'))
				return false;
			})
		}
		function setup_massive_actions() {
			$('.massive_action').click(function() {
				// get selected items
				selected_rows = get_selected_rows($('#model_groups_table tbody'), select_active_class);
				console.log(selected_rows)
				action_name = $(this).data('name')
				action_url = $(this).data('url')

				if (selected_rows.length == 0) {
					show_message_through_notification('{{ _("Please select at least one group to apply massive action <strong><em>'+action_name+'</em></strong> on") }}');
				}
				else {
					gids=[]
					$.each(get_selected_rows($('#model_groups_table tbody'), select_active_class), function(i, item) {
						gids.push($(item).data('gid'))
					})

					// get the massive selection template
					url = '/groups/massive_select_template/'+action_name+'/'+gids.join(',')
					console.log(url);
					$.get(url, function(modal_html) {
						$("#modal").html(modal_html).modal()
						init_massive_select_events(action_name, action_url, gids);
					})
				}
			})
		}
		function init_massive_select_events(action_name, action_url, gids) {
			console.log("init_massive_select_events", action_name, action_url, gids)
			$('#apply_massive_action').click(function() {
				// close the modal
				$("#machine_modal").modal('hide')

				// run the action
				if (action_name == 'export') {
					$.get(action_url + gids, function(data) {
						file_name = data.file_name
						iframe = document.getElementById('download_iframe')
						iframe.src = "/system/download/"+file_name

					}, "json")
				}
				else {
					$.get(action_url + gids)
				}

				// unselect all rows
				$('.row_selected').removeClass('row_selected')
				//hide the modal
				$('#modal').modal('hide')

			})
		}
		function setup_hover() {
			// on row hover, always clean interface in case of previus preselection with keyboard
			$('#model_groups_table tbody tr').hover(function(){
				//in
				//$('#model_groups_table tr').css({"background-color":"none"})
				// change the background color to preselect it
				$(this).css({'background-color': background_color_hover})

				$('.preselected_row').removeClass('preselected_row').css({"background-color":"none"})
				//$(this).addClass('preselected_row')

			}, function() {
				//out
				$(this).css({'background-color': "none"})
			})
		}





		function sortTable(){
		    var tbl = document.getElementById("model_groups_table").tBodies[0];
		    var store = [];
		    for(var i=0, len=tbl.rows.length; i<len; i++){
		        var row = tbl.rows[i];
		        console.log($(row))
		        console.log($(row.cells[0]).html())
		        //var sortnr = parseFloat(row.cells[0].textContent || row.cells[0].innerText);
		        var sortnr = $(row.cells[0]).html();
		        console.log(sortnr)
		        if(!isNaN(sortnr)) store.push([sortnr, row]);
		    }
		    store.sort(function(x,y){
		        return x[0] - y[0];
		    });
		    for(var i=0, len=store.length; i<len; i++){
		        tbl.appendChild(store[i][1]);
		    }
		    store = null;
		}






		var select_active_class = 'row_selected'
		var background_color_hover = 'rgb(245, 245, 245)'
		var setup_row_timeout;

		function setup_row(row) {

			clearTimeout(setup_row_timeout)

			setup_table_row_doubleclick($(row), groups_doubleclick_row)

			// filter the list
            $('#list_search').trigger('keyup')

			// let know the sort plugin that we updated the table
			//$("table.sortable").trigger("update");

			setup_row_timeout = setTimeout( function() {
				
				// try to do it only once because it is applyed to the whole table
				setup_table_row_selectable($('#model_groups_table tbody'), select_active_class, '.not-me')
				setup_hover();
				},
				1000);
			setup_ajaxized_link($(row))

			$('.licorn_tooltip').tooltip()
			
		}

















	
		function bind_keys() {
			searchb = $('#list_search');
			modal = $('#modal')


			$(document).keyup(function(e) {
				console.log("keyup", e.which )

				if (e.which == 8 || e.which == 46) {    // SUPPR => mass delete
					if (! searchb.is(':focus')) {
						$('#massive_delete').click()
					}
				}

				if (e.which == 27) {    // ESC
					// on ESC, first remove search content, secondly unselect row
					
					
					
					console.log("modal visible", modal.is(':visible'))
					console.log("search box focus", searchb.is(':focus'))

					if (modal.is(':visible')) {
						modal.modal('hide')
					}
					else if (searchb.is(':focus')) {
						console.log("has focus")
						searchb.val('');
						searchb.keyup();
						searchb.blur();

						e.stopPropagation();
						e.preventDefault();

					} 
					else {
						/*$.each(get_selected_rows($('#model_machines_table tbody'), select_active_class), function(i, item) {
							console.log(i, item)
							$(item).removeClass('row_selected').trigger('mousedown').trigger('mouseup');
						})*/
						$('.row_selected').removeClass('row_selected')
					}
					

				}
			});
			$(document).keypress(function(e) {
				/* if a table filter as been set, unset it.
				If not, if rows are selected, unselect them. */
				console.log('key :', e.which)
				console.log('alt:', e.altKey)
				console.log('ctrl : ', e.ctrlKey)
				console.log('shift : ', e.shiftKey)
				

				/* Rows selection mecanism */
				if (e.which == 106 || e.which == 107 || e.which == 115) {
					var preselected_row  = null;

					var next_row         = null
					var previus_row      = null
					var new_selected_row = null

					// find where to start 
					console.log('seeking where to start')
					if ($('.preselected_row').length == 0) {

						$.each($('tbody tr'), function() {
							//console.log($(this).css('background-color'), background_color_hover, $(this).css('background-color') == background_color_hover)
							if ($(this).css('background-color') == background_color_hover) {
								preselected_row = $(this);
							}
						});
					}
					else {
						preselected_row = $('.preselected_row')
					}
				}

				if (e.which == 107) {    // K = next
					if (preselected_row == null) {
						// no, preselected row, start from the top
						new_selected_row = $('table tbody tr:first');
					}
					else {
						// one row is already preselected, start from it
						next_row = preselected_row.next(':visible')
						if (next_row.length == 0) {
							next_row = preselected_row.nextUntil(':visible').last().next()
						}
						new_selected_row = next_row;					}
				}

				if (e.which == 106) {    // J = previus
					if (preselected_row == null) {
						// no, preselected row, start from the top
						new_selected_row = $('table tbody tr:first');
					}
					else {
						// one row is already preselected, start from it
						prev_row = preselected_row.prev(':visible')
						if (prev_row.length == 0) {
							prev_row = preselected_row.prevUntil(':visible').prev().last();
						}
						new_selected_row = prev_row;
						
					}

				}
				if (e.which == 106 || e.which == 107) {
					
					if (new_selected_row.length != 0) {
						if (preselected_row != null) {
							// unpreselect preselected_row
							preselected_row.css({'background-color': "none"})
						}
						$('.preselected_row').removeClass('preselected_row')
					
						new_selected_row.addClass('preselected_row').css({'background-color' : background_color_hover})

						// scroll the body to have the selected row at the middle of the screen
						// NOTE : in chrome, selecting body is ok, but in FF we need to select html...
						$('body,html').scrollTop(new_selected_row.position().top - $(window).height() / 2)
					}
				}

				if (e.which == 115) {    // s
					if (preselected_row.hasClass(select_active_class)) {
						preselected_row.removeClass(select_active_class)
					}
					else {
						// if a row is "preselected", select it
						$('.preselected_row').removeClass('preselected_row')
						preselected_row.addClass('preselected_row').addClass(select_active_class)
					}
				}

				if (e.which == 13) {    // enter
					if (modal.is(':hidden')) {
						selected_rows = get_selected_rows($('#model_groups_table tbody'), select_active_class);
						console.log($(selected_rows))
						if (selected_rows.length == 1) {
							gid = $(selected_rows).data('gid');
							$.get('/groups/edit/'+gid, function(modal_html) {
								$("#modal").html(modal_html).modal()
							})
						}
						else if (selected_rows.length > 1) {
							$('#massive_edit').click()
						}
					}



				}
				
				if (! searchb.is(':focus')) {
					if (e.which == 112) {    // p => mass perm
						$('#massive_permissive').click()
					}
					if (e.which == 120) {    // x => mass export
						$('#massive_export').click()
					}
					if (e.which == 108) {    // l => mass skel
						$('#massive_skel').click()
					}
				}

				/* page parts selection mecanism */
				/*if (e.keyCode == 102) {    // f => focus search field
					$('#list_search').focus();
					// stop propagation and default to avoid "f" in search field
					e.preventDefault();
					e.stopPropagation();
				}*/
				//if (e.keyCode == 76 && e.shiftKey) {    // shift + l => focus list
				//	console.log('alt+l')
				//	$('#model_groups_table').focus();
				//	e.preventDefault();
				//	e.stopPropagation();
				//}

			});	

		}
	</script>


{%- endblock -%}





















