<script language="javascript" type="text/javascript" src="/media/js/licorn_form.js"></script>
<link rel="stylesheet" type="text/css" media="screen,projection" href="/media/css/licorn_form.css" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    {%- block title -%}
    
    {%- endblock -%}
</div>
<div class="modal-body">
  {%- block body -%}

  {%- endblock -%}
</div>
<div class="modal-footer">
  {%- block footer -%}
  {%- endblock -%}
</div>



