{#- Copyright 2012 META IT & Olivier Cortès <olive@licorn.org>
    Distributed under the terms of the GNU GPL version 2. -#}

{%- extends 'base.bootstrap.html' -%}

{% block title %}{{ _('Password required for web share {0}').format(shname) }}{% endblock %}

{%- block container -%}
	<style type="text/css">
		.errorlist {
			color: white;
			background-color: red;
		}

		.errorlist li {
			list-style-type:none;
		}
  </style>
	<div class='row'>
		<center>
			<h2>{{ _('You need a password to access to the share {0}').format(shname) }}</h2>
			<form method='POST' action='{{ request.path }}'>
				{% csrf_token %}
				{{ form }}
				<p><input type="submit" value="{{ _('Submit') }}"/></p>
			</form>
		</center>
	</div>
{%- endblock -%}