{#- Copyright 2012 META IT & Olivier Cortès <olive@licorn.org>
    Distributed under the terms of the GNU GPL version 2. -#}

<tr>
	<td><span title="{{ _('Full path on the Licorn® server: {0}').format(share.path) }}"
			class="bigger cursor-help"> {{ share.name }}</span>
		<br /><small class="smaller"><a href="{{ url_for('wmi.shares.views.serve',
								args=(share.coreobj.name, share.name)) }}"
					target="_blank">{{ _('view ↗') }}</a></small>
	</td>
	<td class="centered">
	{%- set contents = share.contents() -%}
	{%- if contents.files > 0 -%}
		{{ _('{0} file(s)').format(contents.files) }}

	{%- else -%}
		{{ _('Nothing to share').format(contents.files) }}

	{%- endif -%}
	{%- if share.accepts_uploads -%}
		<br />
		{%- if contents.uploads > 0 -%}
			{{ _('{0} uploaded file(s)').format(contents.uploads) }}

		{%- else -%}
			{{ _('Nothing uploaded') }}

		{%- endif -%}
	{%- endif -%}
	</td>
	<td class="centered">
		{%- if share.accepts_uploads -%}
			{{ _('Yes') }}

		{%- else -%}
			{{ _('No') }}

		{%- endif -%}
	</td>
	<td class="centered">
		{%- if share.expired -%}

		{%- elif share.expire == None -%}
			{{ _('never') }}

		{%- else -%}
			{{ format_time_delta(share.expire - time(),
					use_neg=True, long_output=False) }}

		{%- endif -%}
	</td>
</tr>
