<div class='sub_content_line'>
	<div class='sub_content_title'><strong>{{ title }}</strong></div>
	<span id='click_item_id' style='display: none'>group</span>
	<div class='sub_content_list'>
		{%- if groups_list.groups == [] -%}
		<div class="no_item_text">
			<center>There is no {{ groups_list.name }} group yet on the system</center>
		</div>
		{%- else -%}
			{%- set relationships = [ 'no_membership', 'guest', 'member', 'resp', 'incomplete' ] -%}
			{%- for item in groups_list.groups -%}

				{%- if groups_list.user != None -%}
					{%- set rel = groups_list.user.get_relationship(item.gidNumber) -%}
					{%- set instant_apply_class = 'instant_apply_click' -%}
				{%- elif _mode == "massiv" -%}
					{# if all uids have the same relationship with the group, show it, else no relationship#}
					
					{# http://stackoverflow.com/questions/4870346/can-a-jinja-variables-scope-extend-beyond-in-an-inner-block #}

					{%- set rel_ref = [] -%}
					{%- set same_rel = [] -%}
					{% for u in users %}
						{% if rel_ref == [] %}
							{%- do rel_ref.append(u.get_relationship(item.gidNumber)) -%}
						{% else %}
							{% if rel_ref[0] != u.get_relationship(item.gidNumber) %}
								{%- do same_rel.append(0) -%}
							{% endif %}
						{% endif %}
					{% endfor %}

					
					{% if same_rel == [] %}
						{%- set rel = rel_ref[0] -%}
					{% else %}
						{%- set rel = 4 -%}
					{% endif %}

					{%- set instant_apply_class = 'instant_apply_click' -%}
				{%- else -%}
					{%- set rel = 0 -%}
					{%- set instant_apply_class = '' -%}
				{%- endif -%}

				<span class='click_item' value='{{ relationships[rel] }}' id='{{ item.gidNumber }}'>

					<input type='hidden' class='item_hidden_input' name='no_membership_groups' value=''/>
					<input type='hidden' class='item_hidden_input' name='guest_groups' value=''/>
					<input type='hidden' class='item_hidden_input' name='member_groups' value=''/>
					<input type='hidden' class='item_hidden_input' name='resp_groups' value=''/>
					<span class='item_title {{ relationships[rel] }}_bkg'>{{ item.name }}</span>
					<div class="popover">
						<div class="group_popover_content">

							<div class='popover_item rel_no_membership {{ instant_apply_class }}' id='{{ item.gidNumber }}' value='no_membership' name=''>
								<span class='item_title no_membership_bkg'>{{ _('no membership') }}</span>
							</div>

							{%- if item.is_standard -%}
							<div class='popover_item rel_guest {{ instant_apply_class }}' id='{{ item.gidNumber }}' value='guest' name='{{ item.guest_group.gidNumber }}'>
								<span class='item_title guest_bkg'>{{ _('guest') }}</span>
							</div>
							{%- endif -%}

							<div class='popover_item rel_member {{ instant_apply_class }}' id='{{ item.gidNumber }}' value='member' name='{{ item.gidNumber }}'>
								<span class='item_title member_bkg'>{{ _('member') }}</span>
							</div>
							{%- if item.is_standard -%}
							<div class='popover_item rel_resp {{ instant_apply_class }}' id='{{ item.gidNumber }}' value='resp' name='{{ item.responsible_group.gidNumber }}'>
								<span class='item_title resp_bkg'>{{ _('responsible') }}</span>
							</div>
							{%- endif -%}

						</div>
					</div>
				</span>

			{%- endfor -%}
		{%- endif -%}
	</div>
</div>
