{%- extends 'modal.html' -%}

{%- block title -%}
	<h3>{{ _('User accounts import') }}</h3>
{%- endblock -%}

{%- block body -%}
	


	<div style="padding: 0 10px 20px; text-align: center">
		{{ _('Please select a CSV file to import user accounts from:') }}
	</div>


	<form class="form-horizontal">
		{% csrf_token %}
		<div class="control-group">
			<label class="control-label" for="inputCsvFile">{{ _("File (csv format)") }}</label>
			<div class="controls">
				{{ form['file']}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputCsvFile">{{ _("Column separator") }}</label>
			<div class="controls">
				{{ form['separator']}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputCsvFile">{{ _("Global profile") }}</label>
			<div class="controls">
				{{ form['profile']}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputCsvFile">{{ _("The file contains") }}</label>
			<div class="controls">
				<div>
					<input class="input_choose" id="__name" type="checkbox" value="name" >
					<label for="__name" style="display:inline">{{ _("Firstname and lastname") }}</label>
				</div>
				<div>
					<input class="input_choose" id="__gecos" type="checkbox" value="gecos">
					<label for="__gecos" style="display:inline">{{ _("Gecos") }}</label> <br>
				</div>
				<div>
					<input class="input_choose" id="__group" type="checkbox" value="group">
					<label for="__group" style="display:inline">{{ _("Group") }}</label><br>
				</div>
				<div>
					<input class="input_choose" id="__login" type="checkbox" value="login">
					<label for="__login" style="display:inline">{{ _("Login") }}</label><br>
				</div>
				<div>
					<input class="input_choose" id="__profile" type="checkbox" value="profile">
					<label for="__profile" style="display:inline">{{ _("Profile") }}</label><br>
				</div>
					<input class="input_choose" id="__password" type="checkbox" value="password">
					<label for="__password" style="display:inline">{{ _("Password") }}</label><br>
				<div>
			</div>
		</div>
		<div id="contains_name" class="contains_choose">
			<div class="control-group">
				<label class="control-label">{{ _("Fistname column") }}</label>
				<div class="controls">
					{{ form['firstname']}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputCsvFile">{{ _("Lastname column") }}</label>
				<div class="controls">
					{{ form['lastname']}}
				</div>
			</div>
		</div>

		<div id="contains_gecos" class="contains_choose">
			<div class="control-group">
				<label class="control-label" for="inputCsvFile">{{ _("Full name column") }}</label>
				<div class="controls">
					{{ form['gecos']}}
				</div>
			</div>
		</div>
		<div id="contains_group" class="contains_choose">
			<div class="control-group">
				<label class="control-label" for="inputCsvFile">{{ _("Group(s) column") }}</label>
				<div class="controls">
					{{ form['group']}}
				</div>
			</div>
		</div>
		
		<div id="contains_login" class="contains_choose">
			<div class="control-group">
				<label class="control-label" for="inputCsvFile">{{ _("Login column") }}</label>
				<div class="controls">
					{{ form['login']}}
				</div>
			</div>
		</div>

		<div id="contains_profile" class="contains_choose">
		
			<div class="control-group">
				<label class="control-label" for="inputCsvFile">{{ _("Profile column") }}</label>
				<div class="controls">
					{{ form['profile_col']}}
				</div>
			</div>
		</div>
		<div id="contains_password" class="contains_choose">
		
			<div class="control-group">
				<label class="control-label" for="inputpassword">{{ _("Password column") }}</label>
				<div class="controls">
					{{ form['password']}}
				</div>
			</div>
		</div>



	</form>















		<input type='hidden' id='csv_filepath'/>
		

	<div id='test_result'></div>

<script type="text/javascript" src='/media/js/jquery.ajaxfileupload.js'></script>
<script type="text/javascript" src='/media/js/jquery.csvtotable.js'></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#TestCSV_button').click(function() {
			if ($('#csv_filepath').attr('value') == '') { show_message_through_notification("{{ _('Please select a CSV file first.') }}"); }
			else {
				$.post("/users/import/", {
					'lastname_col'           : $('input[name$="lastname"]').val(),
					'firstname_col'          : $('input[name$="firstname"]').val(),
					'group_col'              : $('input[name$="group"]').val(),
					'gecos_col'              : $('input[name$="gecos"]').val(),
					'profile_col'            : $('input[name$="profile_col"]').val(),
					'login_col'              : $('input[name$="login"]').val(),
					'password_col'           : $('input[name$="password"]').val(),
					
					'csv_filepath'       : $('#csv_filepath').attr('value'),
					'csrfmiddlewaretoken': $('input[name$="csrfmiddlewaretoken"]').attr('value'),
					'profile'            : $('select[name$="profile"] option:selected').val(),
					'separator'          : $('input[name$="separator"]').val(),
					});
			}
			// disable submit button
			return false;
		});
		$('#ImportCSV_button').click(function() {
			if ($('#csv_filepath').attr('value') == '') { show_message_through_notification("{{ _('Please select a CSV file first.') }}"); }
			else {
				$.post("/users/import/True", {
					'lastname_col'           : $('input[name$="lastname"]').val(),
					'firstname_col'          : $('input[name$="firstname"]').val(),
					'group_col'              : $('input[name$="group"]').val(),
					'gecos_col'              : $('input[name$="gecos"]').val(),
					'profile_col'            : $('input[name$="profile_col"]').val(),
					'login_col'              : $('input[name$="login"]').val(),
					'password_col'           : $('input[name$="password"]').val(),

					'csv_filepath'       : $('#csv_filepath').attr('value'),
					'csrfmiddlewaretoken': $('input[name$="csrfmiddlewaretoken"]').attr('value'),
					'profile'            : $('select[name$="profile"] option:selected').val(),
					'separator'          : $('input[name$="separator"]').val(),
					});
			}
			// disable submit button
			return false;
		});

		// upload the file when selected
		$('#id_file').ajaxfileupload({
			'action': '/users/upload',
			'params': {
				'csrfmiddlewaretoken': $('input[name$="csrfmiddlewaretoken"]').attr('value')
			},
			'onComplete': function(response) {
				$('#csv_filepath').attr('value', response)
			  },

		});


		$('.contains_choose').hide()
		// input choose
		$('.input_choose').change(function() {
			console.log('#contains_'+$(this).attr('value') , $(this).is(':checked'))
			container = $('#contains_'+$(this).attr('value'))

			if ($(this).is(':checked')) {
				container.show()
			}
			else {
				container.hide()
			}
		});

		// when selecting profile column, hide the global profile
		$("#__profile").change(function() {
			if ($(this).is(':checked')) {
				$('#global_profile').hide()
			}
			else {
				$('#global_profile').show()
			}
		})
	});
</script>


{%- endblock -%}


{%- block footer -%}
	<a href="#" class="btn" data-dismiss="modal">{{ _('Fermer') }}</a>
    <a href="#" class="btn btn-primary" id="TestCSV_button">{{ _('Test import') }}</a>
    <a href="#" class="btn btn-success" id="ImportCSV_button">{{ _('Import') }}</a>
{%- endblock -%}











