
<div id='sub_content_header'>
	<h1 id='sub_content_title'>{{ _('User accounts import') }}</h1>
</div>

<div id='sub_content_area'>
	<div style="padding: 0 10px 20px; text-align: center">
		{{ _('Please select a CSV file to import user accounts from:') }}
	</div>
	<form id="LoadCSV_form" method='post' enctype='multipart/form-data' target='result'>
		{% csrf_token %}

		<div class='sub_content_line big_line'>
			<div class='sub_content_third_line'>
				<strong>{{ _("File (csv format)") }}</strong>
			</div>
			<div class='sub_content_two_third_line align_right'>
				{{ form['file']}}
			</div>
		</div>

		<div class='sub_content_line big_line'>
			<div class='sub_content_third_line'>
				<strong>{{ _("Columns separator") }}</strong>
			</div>
			<div class='sub_content_two_third_line align_right'>
				{{ form['separator']}}
			</div>
		</div>

		<div id='global_profile'class='sub_content_line big_line'>
			<div class='sub_content_third_line'>
				<strong>{{ _('Global profile') }}</strong>
			</div>
			<div class='sub_content_two_third_line align_right'>
				{{ form['profile'] }}
			</div>
		</div>

		<div class='sub_content_line big_line'>
			<div class='sub_content_third_line'>
				{{ _("The file contains") }}
			</div>
			<div class='sub_content_two_third_line'>
				<input class="input_choose" id="__name" type="checkbox" value="name">
				<label for="__name">{{ _("Firstname and lastname") }}</label> <br>
				<input class="input_choose" id="__gecos" type="checkbox" value="gecos">
				<label for="__gecos">{{ _("Gecos") }}</label> <br>
				<input class="input_choose" id="__group" type="checkbox" value="group">
				<label for="__group">{{ _("Group") }}</label><br>
				<input class="input_choose" id="__login" type="checkbox" value="login">
				<label for="__login">{{ _("Login") }}</label><br>
				<input class="input_choose" id="__profile" type="checkbox" value="profile">
				<label for="__profile">{{ _("Profile") }}</label><br>
				<input class="input_choose" id="__password" type="checkbox" value="password">
				<label for="__password">{{ _("Password") }}</label><br>

			</div>
		</div>
		<div id="contains_name" class="contains_choose">
			<div class='sub_content_line big_line'>
				<div class='sub_content_third_line'>
					<strong>{{ _('Firstname column') }}</strong>
				</div>
				<div class='sub_content_two_third_line align_right'>
					{{ form['firstname'] }}
				</div>
			</div>
			<div class='sub_content_line big_line'>
				<div class='sub_content_third_line'>
					<strong>{{ _('Lastname column') }}</strong>
				</div>
				<div class='sub_content_two_third_line align_right'>
					{{ form['lastname'] }}
				</div>
			</div>
		</div>
		<div id="contains_gecos" class="contains_choose">
			<div class='sub_content_line big_line'>
				<div class='sub_content_third_line'>
					<strong>{{ _('Gecos column') }}</strong>
				</div>
				<div class='sub_content_two_third_line align_right'>
					{{ form['gecos'] }}
				</div>
			</div>
		</div>

		<div id="contains_group" class="contains_choose">
			<div class='sub_content_line big_line'>
				<div class='sub_content_third_line'>
					<strong>{{ _('Group column') }}</strong>
				</div>
				<div class='sub_content_two_third_line align_right'>
					{{ form['group'] }}
				</div>
			</div>
		</div>

		<div id="contains_login" class="contains_choose">
			<div class='sub_content_line big_line'>
				<div class='sub_content_third_line'>
					<strong>{{ _('Login column') }}</strong>
				</div>
				<div class='sub_content_two_third_line align_right'>
					{{ form['login'] }}
				</div>
			</div>
		</div>

		<div id="contains_profile" class="contains_choose">
			<div class='sub_content_line big_line'>
				<div class='sub_content_third_line'>
					<strong>{{ _('Profile column') }}</strong>
				</div>
				<div class='sub_content_two_third_line align_right'>
					{{ form['profile_col'] }}
				</div>
			</div>
		</div>

		<div id="contains_password" class="contains_choose">
			<div class='sub_content_line big_line'>
				<div class='sub_content_third_line'>
					<strong>{{ _('Password column') }}</strong>
				</div>
				<div class='sub_content_two_third_line align_right'>
					{{ form['password'] }}
				</div>
			</div>
		</div>


		<br />
		<br />

		





		<!--{%- for field in form.visible_fields() -%}
			<div class='sub_content_line big_line'>
				<div class='sub_content_third_line'>
					<strong>{{ field.label_tag() }}</strong></div>
				<div class='sub_content_two_third_line align_right'>
					{{ field }}
				</div>
			</div>
		{%- endfor -%}-->

		<input type='hidden' id='csv_filepath'/>
		<div id='new_item_actions' class="one_line">
			<span class='sub_content_half_line'>
				<input type="button" name="test_submit"
					value="{{ _('Test import') }}" id='TestCSV_button'
					class="interface_button float_left"/>
			</span>
			<span class='sub_content_half_line'>
				<input type="button" name="submit" value="{{ _('Import') }}"
					id='ImportCSV_button' class="interface_button float_right"/>
			</span>
		</div>
	</form>
	<div id='test_result'></div>
</div><!-- sub_content_area -->

<script type="text/javascript" src='/media/js/jquery.ajaxfileupload.js'></script>
<script type="text/javascript" src='/media/js/jquery.csvtotable.js'></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#TestCSV_button').click(function() {
			if ($('#csv_filepath').attr('value') == '') { show_message_through_notification("{{ _('Please select a CSV file first.') }}"); }
			else {
				$.post("/users/import/", {
					'lastname_col'           : $('input[name$="lastname"]').val(),
					'firstname_col'          : $('input[name$="firstname"]').val(),
					'group_col'              : $('input[name$="group"]').val(),
					'gecos_col'              : $('input[name$="gecos"]').val(),
					'profile_col'            : $('input[name$="profile_col"]').val(),
					'login_col'              : $('input[name$="login"]').val(),
					'password_col'           : $('input[name$="password"]').val(),
					
					'csv_filepath'       : $('#csv_filepath').attr('value'),
					'csrfmiddlewaretoken': $('input[name$="csrfmiddlewaretoken"]').attr('value'),
					'profile'            : $('select[name$="profile"] option:selected').val(),
					'separator'          : $('input[name$="separator"]').val(),
					});
			}
			// disable submit button
			return false;
		});
		$('#ImportCSV_button').click(function() {
			if ($('#csv_filepath').attr('value') == '') { show_message_through_notification("{{ _('Please select a CSV file first.') }}"); }
			else {
				$.post("/users/import/True", {
					'lastname_col'           : $('input[name$="lastname"]').val(),
					'firstname_col'          : $('input[name$="firstname"]').val(),
					'group_col'              : $('input[name$="group"]').val(),
					'gecos_col'              : $('input[name$="gecos"]').val(),
					'profile_col'            : $('input[name$="profile_col"]').val(),
					'login_col'              : $('input[name$="login"]').val(),
					'password_col'           : $('input[name$="password"]').val(),

					'csv_filepath'       : $('#csv_filepath').attr('value'),
					'csrfmiddlewaretoken': $('input[name$="csrfmiddlewaretoken"]').attr('value'),
					'profile'            : $('select[name$="profile"] option:selected').val(),
					'separator'          : $('input[name$="separator"]').val(),
					});
			}
			// disable submit button
			return false;
		});

		// upload the file when selected
		$('#id_file').ajaxfileupload({
			'action': '/users/upload',
			'params': {
				'csrfmiddlewaretoken': $('input[name$="csrfmiddlewaretoken"]').attr('value')
			},
			'onComplete': function(response) {
				$('#csv_filepath').attr('value', response)
			  },

		});


		$('.contains_choose').hide()
		// input choose
		$('.input_choose').change(function() {
			console.log('#contains_'+$(this).attr('value') , $(this).is(':checked'))
			container = $('#contains_'+$(this).attr('value'))

			if ($(this).is(':checked')) {
				container.show()
			}
			else {
				container.hide()
			}
		});

		// when selecting profile column, hide the global profile
		$("#__profile").change(function() {
			if ($(this).is(':checked')) {
				$('#global_profile').hide()
			}
			else {
				$('#global_profile').show()
			}
		})
	});

