{#- Copyright 2012 META IT & Robin Lucbernet<robin@meta-it.fr>
    Distributed under the terms of the GNU GPL version 2. -#}

{%- extends 'list.html' -%}

{%- block title -%}
	{{ _('Users management') }}
{%- endblock -%}


{%- block list_title -%}
	{{ _('Users') }} (<span id='model_users_count'>{{ users|length }}</span>)
{%- endblock -%}

{%- block massive_actions -%}
	
	<span class="btn-group">
		<button class="btn massive_action" data-url='/users/massive/delete/' data-name='delete' id="massive_delete" title="{{ _('Massively delete users.') }}">
			<img src="/media/images/14x14/mass_del.png" alt="massive delete icon"/>
		</button>
		<button class="btn massive_action" data-url='/users/massive/lock/' data-name='lock' id="massive_lock" title="{{ _('Massively make/unmake users locked.') }}">
			<img src="/media/images/14x14/mass_lock.png" alt="massive permissive icon"/>
		</button>
		<button class="btn massive_action" data-url='/users/massive/export/' data-name='export' id="massive_export" title="{{ _('Massively export users.') }}">
			<img src="/media/images/14x14/mass_export.png" alt="massive export icon"/>
		</button>
		<button class="btn massive_action" data-url='/users/massive/apply_skel/' data-name='skel' id="massive_skel" title="{{ _('Massively reapply users\' skel on users\' members.') }}">
			<img src="/media/images/14x14/mass_skel.png" alt="massive apply skel icon"/>
		</button>
		<button class="btn massive_action" data-url='/users/massive/edit/' data-name='edit' id="massive_edit" title="{{ _('Massively edit users.') }}">
			<img src="/media/images/14x14/mass_user.png" alt="massive edit users icon"/>
		</button>
	</span>
	
{%- endblock -%}

{%- block list_filters -%}
	<span class="btn-group" data-toggle="buttons-checkbox">
		{% if request.user.is_superuser %}
			<button id='filter_standart' class="btn filter_item" data-filter='standard'>
				<i class="icon-map-marker" title="{{ _('Standard') }}"></i>
			</button>
			<button id='filter_system' class="btn filter_item" data-filter='system'>
				<i class="icon-wrench" title="{{ _('Systems') }}"></i>
			</button>
			<button id='filter_restricted' class="btn filter_item" data-filter='restricted'>
				<i class="icon-warning-sign" title="{{ _('Restricted') }}"></i>
			</button>
		{% elif request.user.is_staff %}
			<button id='filter_standart' class="btn filter_item" data-filter='standard'>
				<i class="icon-map-marker" title="{{ _('Standard') }}"></i>
			</button>
		{% endif %}

	</span>
{%- endblock -%}

{%- block list_headers -%}
	<th class='table_column_header centered' width="5%">{{ _('Type') }}</th>
	<th class='table_column_header centered' width="10%">{{ _('Lock') }}</th>
	<th class='table_column_header' width="10%">{{ _('Login') }}</th>
	<th class='table_column_header centered' width="55%">{{ _('Full name') }}</th>
	<th class='table_column_header centered' width="5%" title="{{ _('User identifier') }}">{{ _('Uid') }}</th>
	<th class='table_column_header centered' width="5%">{{ _('Backend') }}</th>
	<th class='table_column_header centered' width="5%">{{ _('Profile') }}</th>
{%- endblock -%}

{%- block list_body -%}
	{%- for user in users -%}
		{%- include 'users/user_row.html' -%}
	{%- endfor -%}

	<script language="javascript" type="text/javascript">
	
		$(document).ready(function() {

			// setup the list
			var START_TIME = new Date().getTime();
			
			setup_list('users');
			
			var END_TIME = new Date().getTime();
			totalTime = (END_TIME - START_TIME);
			console.log("total time to setup user list", totalTime);
		});

		function func_doubleclick_row(td) {
			// what happens when a row has been double clicked,
			// show the edit form.

			if (! $(td).hasClass('no_double_click')) {

				uid = td.data('id')

				if (uid == null) {
					uid = td.parent('.licorn_row').data('id')
				}

				$.get('/users/edit/'+uid, function(modal_html) {
					$("#modal").html(modal_html).modal()
				})
			}
		}
		
		function get_list_column() {
			return ["String", "String", "String", "String", "Number", "String"]
		}
	</script>
{%- endblock -%}



