{{ _("Do you really want to lock user account <strong>{0}</strong>?<br/><br/>This will prevent the user to connect to the WMI and servers and network clients (thin one, Windows&reg;, {0}/Linux &reg; and Macintosh&reg; ones).").format(user_login, gnu_acr) }}

{%- if is_member_remote -%}
	<br /><br />

	{{ _('But this will not block incoming %(ssh_acr)s network connections, if the user uses %(rsa_acr)s or %(dsa_acr)s public/private keys. To block ANY access to the system, <strong>remove him/her from %(remote_group)s group </strong>.') %
			{ 'ssh_acr': ssh_acr,
			'rsa_acr': rsa_acr,
			'dsa_acr': dsa_acr,
			'remote_group': remote_group } }}

	<input type='checkbox' id="remove_remotessh" checked />
	<label for='remove_remotessh'>
		{{ _('Remove user from group <code>%(remote_group)s</code> in the same time.') % {'remote_group':remote_group} }}
	</label>
{%- endif -%}











