
{%- extends 'modal.html' -%}


    {%- block title -%}
      <h3>{{ _('Massive action confirmation') }}</h3>
    {%- endblock -%}
    {%- block body -%}
      {%- block confirm_text -%}
      {%- endblock -%}
      {%- block users_list -%}
        <ul>
          {%- for u in users -%}
            <li> {{ u.login }}</li>
          {%- endfor -%}
        </ul>
      {%- endblock -%}
      {%- block end_text -%}

      {%- endblock -%}
    {%- endblock -%}


  {%- block footer -%}
    <a href="#" class="btn" data-dismiss="modal">No, Thanks</a>
    <a href="#" class="btn btn-primary" id="apply_massive_action">Yes, I want</a>
  {%- endblock -%}

