{#- Copyright 2011 META IT, Olivier Cortès <oc@meta-it.fr>, Robin Lucbernet<rl@meta-it.fr>
    Distributed under the terms of the GNU GPL version 2. -#}





{%- extends 'modal.html' -%}

    {%- block title -%}
	    {%- if mode == 'new' -%}
	    	<h3>{{ _('New user') }}</h3>
	    {%- elif mode == 'edit' -%}
	    	<h3>{{ _('Edit user') }} {{ '<span>{0}</span>'.format(user.login) }}</h3>
	    {%- elif mode == 'massiv' -%}
	    	<h3>{{ _('Massive user edition') }}</h3>
	    {%- endif -%}
    {%- endblock -%}


  {%- block body -%}

  	{% if form.errors and not form.non_field_errors() -%}
	    <div class="error_div error_text">
			{% trans count=form.errors.items()|length() %}
			    Merci de corriger l'erreur ci-dessous&nbsp;:
			{% pluralize %}
			    Merci de corriger les erreurs suivantes&nbsp;:
			{% endtrans %}
	    </div>
	{% endif -%}

	{% if form.non_field_errors() %}
	    {% for error in form.non_field_errors() %}
			<p class="errornote">
				{{ error }}
			</p>
	    {% endfor %}
	{% endif %}

	<form class="form-horizontal" id='user_form'>

		{% csrf_token %}
		




	<ul class="nav nav-tabs" id="myTab">
		{% for block in form_blocks %}
			<li {{ 'class="active"' if form_blocks[block][2] }}><a href="#{{ form_blocks[block][0] }}" data-toggle="tab">{{ form_blocks[block][1] }}</a></li>
		{% endfor %}
	</ul>
	<div class="tab-content">


	<div class="tab-pane active" id="ageneral">

		<div class="control-group">
			{% for field in form.visible_fields() %}
			<div style="min-height:40px;">
				<label class="control-label" for="id_{{ field.name }}">
					{{ field.label }}
					{%-if field.field.required -%}
						&nbsp;
						<span class="required_field">*</span>
					{%- endif -%}
				</label>
				<div class="controls" style="vertical-align:center;">
					{{ field }}

					{%-if field.field.help_text -%}
						<p class="help-block">{{ field.field.help_text }}</p>
					{%- endif -%}
				</div>
			</div>
			{% endfor %}
			{% if mode == 'edit' %}
				<div class="row-fluid">
					<div class="span6">
						{% if user.locked %}
							<a href="#" class="btn btn-danger btn-block" id="lock_user_button" data-id='{{user.uid}}'>{{ _('Unlock user') }}</a>
						{% else %}
							<a href="#" class="btn btn-danger btn-block" id="unlock_user_button" data-id='{{user.uid}}'>{{ _('Lock user') }}</a>
						{% endif %}
					</div>
					<div class="span6">
						<a href="#" class="btn btn-danger btn-block" id="delete_user_button" data-id='{{user.uid}}'>{{ _('Delete user') }}</a>
					</div>
				</div>
				
			{% endif %}
		</div>
		
	</div>
	
		
	{# add users and sys_user pane #}

	{%- for list in groups_lists -%}
		<div class="tab-pane" id="{{ list.list_name }}">
			<div>
				{% if mode != 'new' %}
					<div style="text-align:right;margin-bottom:20px;">
						{{ _('Sort by:') }}
						<span class="btn-group" data-toggle="buttons-radio">
							<button type="button" id='sort_alpha' class="btn sort_item" data-sort="alpha" data-id="{{ list.list_name }}">
								{{ _("Group name") }}
							</button>
							<button type="button" id='sort_relation' class="btn sort_item" data-sort="relation" data-id="{{ list.list_name }}">
								{{ _("Relationship") }}
							</button>
							
						

						</span>
					</div>
				{% endif %}
				{{list.list_content}}
			</div>
    	</div>
	{%- endfor -%}


	</div> <!-- end tab-content -->
	



	</form>


  {%- endblock -%}
  {%- block footer -%}
  	<a href="#" class="btn" data-dismiss="modal">{{ _('Fermer') }}</a>
    {% if mode == "new" %}
    <a href="#" class="btn btn-primary" id="save_user_button">{{ _('Add user') }}</a>

    {%endif%}


    <style>
    	.my_popover{
    		width:auto;
    	}
    </style>
    <script type="text/javascript">
	
	$(document).ready(function() {
		
		// .click_item are our user box, when click is triggered, 
		// show the popover containing possible relationship

		setup_sort_items('.trigger_popover', $('.sort_item'), "group_name");

		password_helpers($('#ageneral'))






























		// init the popover
		$('.trigger_popover').each(function() {

			// display only relevant relationship (do not display the current one)
			current_rel = $(this).data('rel')
			$(this).find('.rel_'+current_rel).hide();
			var popover_id = $(this).data('id')

			// init tht popover
			$(this).clickover({
				title : 'relationship',
				content  : function() { return $(this).find('.popover').html();},
				html: true,
				placement : 'top',
				template: '<div class="popover my_popover" id="popover_'+popover_id+'"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"><p></p></div></div></div>'

			}).click(function() {

				// on popover display, initialize instant_click, if 'edit' or 'massiv' mode
				{% if mode == 'edit' or mode == 'massiv' %}
					console.log('inti',popover_id, $("#popover_"+$(this).data('id')))
					init_instant_click($("#popover_"+$(this).data('id')))
				{% elif mode == 'new' %}
					{# no instant apply, but give a visual feedback #}
					$('#popover_'+$(this).data('id')+' .instant_click').click(function() {
						update_relationship($(this).data('id'), null, $(this).data('relid'))
					});
				{% endif -%}
			});
		});

		



		

		{%- if mode == 'new' -%}
			
			function post_form() {
				console.log(typeof($('#user_form').serialize()))
				var serialized_form = $('#user_form').serialize()

				//console.log(serialized_form)

				$.each($('form .trigger_popover'), function() {
					
					rel = $(this).attr('data-rel')
					
					if (rel == "0") {
						serialized_form += "&no_membership_groups="+$(this).data('id')
					}
					else if (rel == "1") {
						serialized_form += "&guest_groups="+$(this).data('id')
					}
					else if (rel == "2") {
						serialized_form += "&member_groups="+$(this).data('id')
					}
					else if (rel == "3") {
						serialized_form += "&resp_groups="+$(this).data('id')
					}
					
				})

				//console.log(serialized_form)
				$.post("/users/create/", serialized_form);

				$('#modal').modal('hide')

			};

			$(document).unbind("keyup.setup_enter_post_form");
			$(document).bind("keyup.setup_enter_post_form", function(e) {
				if (e.keyCode == 13) { // enter
					post_form();
				}
			});

			// click save button
			$('#save_user_button').click( function() {
				$('#save_user_button').unbind('click');
				post_form();
			});
			

			$('#modal').modal('hide');

			
		{%- endif -%}

		$('#id_permissive').checkbox({
	        'on_text': "{{ _('No') }}",
	        'off_text' : "{{ _('Yes') }}"
	    })

	    $('#delete_user_button').click( function() {
			$('#users_'+$(this).data('id')).addClass(select_active_class);
			$('#massive_delete').trigger('click');
		});

		$('#lock_user_button, #unlock_user_button').click(function(event) {
			$('#users_'+$(this).data('id')).addClass(select_active_class);
			$('#massive_lock').trigger('click');
		})



	});
</script>



    
  {%- endblock -%}





































