{#- Copyright 2011 META IT, Olivier Cortès <oc@meta-it.fr>, Robin Lucbernet<rl@meta-it.fr>
    Distributed under the terms of the GNU GPL version 2. -#}

<div id='sub_content_header'>
	<h1 id='sub_content_title'>{{ title }}</h1>
</div>

<div id='sub_content_area'>
	<form id='user_form'>{% csrf_token %}
	<div id='table' name='{{ user_uid }}'>
	<br />

		{%- for field in form.visible_fields() -%}
			{%- set immutable = field.name in form.immutables -%}
				<div class='sub_content_line big_line'>
					<div class='sub_content_half_line'>
						<strong>{{ field.label_tag() }}</strong>{{ _('(fixed)') if immutable }}</div>
					<div class='sub_content_half_line align_right'>
						{%- if immutable -%}
							{{ field.value() }}
						{%- else -%}
							{%- if field.name == 'password' -%}
								<span><img id="generate_pwds" src="/media/images/16x16/generate.png" alt="'+ gettext("Generate passwords") +'"/></span> {{ field }}
								<span id='pwd_strenght' style='font-size:12px;'></span>
							{%- elif field.name == 'password_confirm'-%}
								<span id="check_pwds"></span> {{ field }}
							{%- else -%}
								{{ field }}
							{%- endif -%}

						{%- endif -%}

					</div>
				</div>
		{%- endfor -%}
	</div>

	{%- for title, groups_list in groups_lists -%}
		{%- include 'users/groups_list.html' -%}
	{%- endfor -%}

	{%- if _mode == 'new' -%}
	<div id='new_item__modes' class="one_line">
		<span class='sub_content_half_line'>
			<div id='cancel_button' class="interface_button float_left">{{ _('Cancel') }}</div>
		</span>
		<span class='sub_content_half_line'>
			<div id='save_user_button' class="interface_button float_right">{{ _('Add') }}</div>
		</span>
	</div>
	{%- endif -%}
	</form>
</div>

<script type="text/javascript">
	$(document).ready(function() {

		content = $('#sub_content_area');
		var passwords_match = false;
		var check_user_pwd;
		// from main.js
		password_helpers(content)

		$('.click_item').each(function() {
			// display only relevant groups
			rel = $(this).attr('value');
			$(this).find('.rel_'+rel).hide();

			var popover_content = $(this).find('.popover')
			$(this).popover({
				title : null,
				content:  popover_content,
				trigger: 'click',
				position: 'top',	
			});


			//$(this).popover({content: $(this).find('.group_popover_content') });
		});

		$('.popover_item').click(function() {
			// update the current popover
			group_id = $(this).attr('id');
			new_rel = $(this).attr('value');

			div = $('#sub_content').find('#'+group_id).filter('.click_item');
			div.find('.item_hidden_input').attr('value', ''); // erase old membership
			div.find('input[name$="'+new_rel+'_users"]').attr('value', group_id); // update new membership

			{%- if _mode == 'new' -%}
				// visual feedback on users because no instant_apply in new
				update_relationship('group', null, group_id, new_rel) ;
			{%- endif -%}

			//close the popover
			$('.click_item#'+group_id).popover('hide');
		});

		{%- if _mode == 'edit' -%}
			init_instant_apply('users');

			lock_sub_content("{{ user_uid }}");
			select_row($('.current_list').find('#_list_name').text(),
						"{{ user_uid }}");

		{%- endif -%}
		{%- if _mode == 'massiv' -%}
			// select rows to be edited
			var tab_uids = "{{uids}}".split(',');
			$.each(tab_uids, function(i, uid) {
				if (i==0) {
					select_row('users', uid)
				}
				else {
					select_row('users', uid, false)
				}
			})
			lock_sub_content();

			// init massive mode

			// for shell :
			$('#id_shell').change(function() {
				//console.log('/users/massive/shell/'+$.URLEncode("{{uids}}")+'/'+$.URLEncode($('#id_shell').val()))
				$.get('/users/massive/shell/'+$.URLEncode("{{uids}}")+'/'+$.URLEncode($('#id_shell').val()))
			})

			// for groups :
			var rel_ids = {
				'no_membership' : 0,
				'guest'         : 1,
				'member'        : 2,
				'resp'          : 3 }

			$('.instant_apply_click').click(function() {
				console.log('group click '+$('#sub_content').attr('value'))
				div = $('#sub_content').find('#'+$(this).attr('id')).filter('.click_item');
				console.log(div)
				div.find('.item_hidden_input').addClass('item_currently_selected');

				url = '/users/massive/groups/'+$.URLEncode("{{uids}}")+'/'+$(this).attr('id')
							+ '/' + rel_ids[$(this).attr('value')]
				console.log(url)
				$.get(url);
			});


		{%- endif -%}
		{%- if _mode == 'new' -%}
			// unselect row in case a user has been selected
			unselect_row();
			lock_sub_content();

			function post_form() {
				if ($('#id_password').val() == $('#id_password_confim').val()) {
					if ($('#id_login').val() == '' && $('#id_gecos').val() == "") {
						show_message_through_notification('Login and gecos cannot be both empty, impossible to save user')
					}
					else {
						$.post("/users/create/", $('#user_form').serialize());
					}
				} else {
					show_message_through_notification('Passwords empty or missmatch, impossible to save user.')
				}
			}

			// click save button
			$('#save_user_button').click(function() {
				post_form();
			});

			$(document).keyup(function(e) {
				if (e.keyCode == 13) { // enter
					post_form();
				}
			});

			// click cancel button
			$('#cancel_button').click(function() {
				reload_div('#sub_content','');
				unlock_sub_content();
			});
		{%- endif -%}

		// we need to wait a small amount of time, else the subcontent is
		// not yet reloaded and the focus won't work.
		setTimeout(function() {
			{%- if _mode == 'edit' -%}
				$('#id_gecos').focus();

			{%- else -%}
				$('#id_login').focus();

			{%- endif -%}
		}, 250);

	});
</script>
