
















{%- macro get_user_type_img(user) -%}

	{% if user.is_system_restricted %}
		<i title="{{ _('Restricted user') }}" class="icon-warning-sign"></i>
	{% elif user.is_system %}
		<i title="{{ _('System user') }}" class="icon-wrench"></i>
	{% elif user.is_standard %}
		<i title="{{ _('Standard user') }}" class="icon-map-marker"></i>
	{% endif %}
{%- endmacro -%}

{%- macro get_user_type(user) -%}
	{% if user.is_system_restricted %}
		{{ _('restricted') }}
	{% elif user.is_system %}
		{{ _('system') }}
	{% elif user.is_standard %}
		{{ _('standard') }}
	{% endif %}
{%- endmacro -%}

{%- macro get_user_filter_class(user) -%}
	{% if user.is_system_restricted %}
		filter_restricted
	{% elif user.is_system %}
		filter_system
	{% elif user.is_standard %}
		filter_standard
	{% endif %}
{%- endmacro -%}


{%- macro get_user_profile(user) -%}
	{% if user.is_system %}

	{% elif user.is_standard %}
		{%- if user.profile -%}
			{{ user.profile.name }}
		{%- else -%}
			{{ _("No profile") }}
		{%- endif -%}
	{%- endif -%}
{%- endmacro -%}




{%- macro get_user_backend_img(user) -%}

	{%- if user.backend.name == 'openldap' -%}
		<i title="{{ _('Openldap backend') }}" class="icon-tasks"></i>
	{%- else -%}
		<i title="{{ _('Shadow backend') }}" class="icon-hdd"></i>
	{%- endif -%}
{%- endmacro -%}


{%- macro get_user_lock_img(user) -%}

	{%- if user.locked -%}
		{%- set message = _('Unlock user account {0}').format(login) -%}
		{%- set icon    = "locked.png" -%}

	{%- else -%}
		{%- set message = _('Lock user account {0}').format(login) -%}
		{%- set icon    = "locked_box.png" -%}

	{%- endif -%}

	<img src="/media/images/24x24/{{icon}}" title="{{message}}" alt='lock/unlock user'>
{%- endmacro -%}


<tr class='licorn_row {{ get_user_filter_class(user) }}' data-id="{{ user.uidNumber }}" id='users_{{ user.uidNumber }}'>
	<!-- type -->
	<td class='centered' width="8%">
		{{ get_user_type_img(user) }}
	</td>
	<!-- lock -->
	<td class='centered' width="8%">

		{{ get_user_lock_img(user) }}
	</td>
	<!-- login -->
	<td width="12%">
		<span class="nowrap">{{ user.login }}</span>
	</td>
	<!-- gecos -->
	<td width="50%">
		<span>{{ user.gecos }}</span>
	</td>
	<!-- uidNumber -->
	<td width="8%">
		<div class="centered">{{ user.uidNumber }}</div>
	</td>
	<!-- backend -->
	<td width="8%" class='centered'>
		{{ get_user_backend_img(user) }}
	</td>
	<!-- Profile -->
	<td width="8%" class="centered">
		<span class="nowrap">{{ get_user_profile(user) }}</span>
	</td>


</tr>


