
{% set uid   = item.uidNumber %}
{% set login = item.login %}

{%- if item.is_system -%}
	{%- set profile_text = _("System account") -%}

{%- else -%}
	{%- if item.profile -%}
		{%- set profile_text = item.profile.name -%}

	{%- else -%}
		{%- set profile_text = _("No profile") -%}

	{%- endif -%}

{%- endif -%}

{%- if item.locked -%}
	{%- set message = _('Unlock user account {0}').format(login) -%}
	{%- set icon    = "locked.png" -%}

{%- else -%}
	{%- set message = _('Lock user account {0}').format(login) -%}
	{%- set icon    = "locked_box.png" -%}

{%- endif -%}

<div class='{{ name }}_row row' id="{{ uid }}">
	<span class="{{ name }}_select">
		<input type="checkbox" name="selected" class="{{ name }}_checkbox">
	</span>
	<span class="{{ name }}_locked odd_even_typed {{ 'is_locked' if item.locked }}">
		<img src='/media/images/24x24/{{ icon }}'
			alt='{{ message }}' title='{{ message }}'/>
	</span>
	<span title="{{ _('Click to edit user {0}').format(login) }}" class="{{ name }}_content">
		<span class="{{ name }}_login odd_even_typed"> {{ login }}</span>
		<span class="{{ name }}_gecos odd_even_typed {{ 'grayed_out'
			if not item.gecos }}">{{ item.gecos or _('No name given') }}</span>
		<span class="{{ name }}_uidNumber odd_even_typed">{{ uid }}</span>
		<span class="{{ name }}_profile odd_even_typed">
			<span class="{{ name }}_profile_content {{ 'grayed_out'
				if not item.profile and item.is_standard }}">{{ profile_text }}</span>
		</span>
	</span>
	<span class="{{ name }}_nav odd_even_typed">
		<span class="item_menu">
			<div class="{{ name }}_reapply_skel">
				{%- set message = _('Reapply skel of user {0}').format(login) -%}
				<img src="/media/images/16x16/reapply-skel.png"
					title="{{ message }}" alt="{{ message }}"/>
			</div>
			<div class="{{ name }}_delete">
				{%- set message = _('Delete user {0}').format(login) -%}
				<img src="/media/images/16x16/supprimer.png"
				title="{{ message }}" alt="{{ message }}"/>
			</div>
		</span>
	</span>
</div>
<script type='text/javascript'>
	$(document).ready(function() {
		init_users_events('{{ name }}', '{{ uid }}', '{{ login }}', 'uidNumber');
	});
</script>
