<tr id='{{ group.name }}'>
	<td colspan="3">
	<table>
		<tr>
		<td class="align_left first" width="70%">
			<a href="/groups/view/{{ group.name }}">
				{{ group.description
				or ('<span class="grayed_out">{0}</span>').format(
					_('No description')) }}</a>
		</td>
		<td class="align_center" nowrap width="20%">
			<a href="/groups/view/{{ group.name }}">
				<strong>{{ group.name }}</strong></a>
		</td>
		<td class="align_right last" width="10%">
			<a href="/groups/view/{{ group.name }}">
				{{ group.gidNumber }}</a>
		</td>
		<tr>
			<td colspan="3" class="alone">
				<span class="grayed_out very_small_font">{{ _('Extensions WMI2 rendering not yet implemented') }}</span>
				{# extensions_group_data #}
			</td>
		</tr>
	</table>
	</td>
</tr>
