<div id='sub_content_header'>
	<h1 id='sub_content_title'>{{ _("User account {0}").format(user.login) }}</h1>
</div>
<div id="sub_content_area">
	<table>
		<tr>
			<td>{{ _("Login (UID)") }}<br />
			<span class="grayed_out">({{ _('immutable') }})</span></td>
			<td><strong>{{ user.login }}</strong> ({{ user.uidNumber }})</td>
		</tr>
		<tr>
			<td>{{ _('Full name') }}</td>
			<td><strong>{{ user.gecos }}</strong></td>
		</tr>
		<tr>
			<td>{{ _('Profile (GID)') }}</td>
			<td><strong>{{
				'{0} ({1})'.format(user.profile.name, user.gidNumber)
					if user.profile
					else '{0}</strong>, {1}<strong> {2}({3})'.format(
					_('No profile'), _('primary group'),
					user.primaryGroup.name, user.gidNumber) }}</strong></td>
		</tr>
		<tr>
			<td>{{ _('Shell') }}</td>
			<td><strong>{{ user.shell }}</strong></td>
		</tr>
		<!--
		<tr>
			<td>{{ _('Password parameters') }}</td>
			<td><strong>{{ user.shadowExpire }}</strong>,
				<strong>{{ user.shadowMin }}</strong>,
				<strong>{{ user.shadowMax }}</strong></td>
		</tr>
		-->
		<tr>
			<td colspan="2">
				{{ extensions_data }}
			</td>
		</tr>
		{%- for list in lists -%}
		<tr>
			<td colspan="2">
				<h2><span class="{{ 'grayed_out' if list.groups == []  }}">{{ list.title }}</span></h2>
				<table class="item_members user_memberships">
					{%- if list.groups != [] -%}
						<thead>
						<tr>
							<th class="align_left" width="70%">{{ _('Description') }}</th>
							<th class="align_center" nowrap width="20%">{{ _('Name') }}</th>
							<th class="align_right" width="10%">{{ _('GID') }}</th>
						</tr>
						</thead>
						<tbody>
						{%- for group in list.groups|sort(attribute='name') -%}
								<tr>
									<td colspan="3">
									<table>
										<tr>
										<td class="align_left first" width="70%">
											<a href="/groups/view/{{ group.name }}">
												{{ group.description
												or ('<span class="grayed_out">{0}</span>').format(
													_('No description')) }}</a>
										</td>
										<td class="align_center" nowrap width="20%">
											<a href="/groups/view/{{ group.name }}">
												<strong>{{ group.name }}</strong></a>
										</td>
										<td class="align_right last" width="10%">
											<a href="/groups/view/{{ group.name }}">
												{{ group.gidNumber }}</a>
										</td>
										<tr>
											<td colspan="3" class="alone">
												<span class="grayed_out very_small_font">{{ _('Extensions WMI2 rendering not yet implemented') }}</span>
												{# extensions_group_data #}
											</td>
										</tr>
									</table>
									</td>
								</tr>
						{%- endfor -%}
						</tbody>
						<tfoot></tfoot>
					{%- else -%}
						<!-- This table has no <thead> nor <tfoot> -->
						<tbody>
							<tr>
								<td colspan="3">
									<span class="grayed_out">
										{{ _('This user is not {0} of any group yet.').format(list.kind) }}
									</span>
								</td>
							</tr>
						</tbody>
					{%- endif -%}
				</table>
			</td>
		</tr>
			{#
				extensions_group_data='\n'.join(wmi_meth(group,
							templates=(
								'%s<br/>%s', '&nbsp;'),
							hostname=kwargs['wmi_hostname'])
						for wmi_meth in exts_wmi_group_meths)
			#}

		{%- endfor -%}
	</table>
</div>
