
<div id='sub_content_header'>
	<h1 id='sub_content_title'>{{ _("User account {0}").format(user.login) }}</h1>
</div>
<div id="sub_content_area">
	<table>
		<tr>
			<td>{{ _("Login (UID)") }}<br />
			<span class="grayed_out">({{ _('immutable') }})</span></td>
			<td><strong>{{ user.login }}</strong> ({{ user.uidNumber }})</td>
		</tr>
		<tr>
			<td>{{ _('Full name') }}</td>
			<td><strong>{{ user.gecos }}</strong></td>
		</tr>
		<tr>
			<td>{{ _('Profile (GID)') }}</td>
			<td><strong>{{
				'{0} ({1})'.format(user.profile.name, user.gidNumber)
					if user.profile
					else '{0}</strong>, {1}<strong> {2}({3})'.format(
					_('No profile'), _('primary group'),
					user.primaryGroup.name, user.gidNumber) }}</strong></td>
		</tr>
		<tr>
			<td>{{ _('Shell') }}</td>
			<td><strong>{{ user.shell }}</strong></td>
		</tr>
		<!--
		<tr>
			<td>{{ _('Password parameters') }}</td>
			<td><strong>{{ user.shadowExpire }}</strong>,
				<strong>{{ user.shadowMin }}</strong>,
				<strong>{{ user.shadowMax }}</strong></td>
		</tr>
		-->
		<tr>
			<td colspan="2">
				{{ extensions_data }}
			</td>
		</tr>
		{%- for list in lists -%}
			{%- include 'users/view_groups.html' -%}
		{%- endfor -%}
	</table>
</div>
