<tr>
			<td colspan="2">
				<h2><span class="{{ 'grayed_out' if list.groups == []  }}">{{ list.title }}</span></h2>
				<table id='{{ list.name }}' class="item_members user_memberships">
					{%- if list.groups != [] -%}
						<thead>
						<tr>
							<th class="align_left" width="70%">{{ _('Description') }}</th>
							<th class="align_center" nowrap width="20%">{{ _('Name') }}</th>
							<th class="align_right" width="10%">{{ _('GID') }}</th>
						</tr>
						</thead>
						<tbody>
						{%- for group in list.groups|sort(attribute='name') -%}
								{%- include 'users/view_group_template.html' -%}
						{%- endfor -%}
						</tbody>
						<tfoot></tfoot>
					{%- else -%}
						<!-- This table has no <thead> nor <tfoot> -->
						<tbody>
							<tr>
								<td colspan="3">
									<span class="grayed_out">
										{{ _('This user is not {0} of any group yet.').format(list.kind) }}
									</span>
								</td>
							</tr>
						</tbody>
					{%- endif -%}
				</table>
			</td>
		</tr>
			{#
				extensions_group_data='\n'.join(wmi_meth(group,
							templates=(
								'%s<br/>%s', '&nbsp;'),
							hostname=kwargs['wmi_hostname'])
						for wmi_meth in exts_wmi_group_meths)
			#}
