
<p>{{ _("The generated password is:") }}</p>
<p>&nbsp;</p>
<p class="centered"><input type='text' id='generated_password' value='{{ password }}' class='centered input-small' disabled='disabled' /></p>
<p>{{ _("To use it, just remember it and hit <span class='label label-info'>Confirm</span> to apply it.") }}</p>
<p>&nbsp;</p>
<p class="small">{{ _("To generate another one, <span class='label'>Close</span> this generator and open it again.") }}</p>

<p>&nbsp;</p>
<div style="text-align:right;">
 <a href="#" class="btn" data-dismiss="clickover">{{ _('Close') }}</a>
   <a class="btn btn-primary" id="confirm_generated_password" data-dismiss="clickover">{{ _('Confirm') }}</a>
</div>
