
















{%- macro get_proxy_type_img(type) -%}
	{% if type == "read" %}
		{{ _('Reader') }}
	{% else %}
		{{ _('Writer') }}
	{% endif %}
{%- endmacro -%}

{%- macro get_principal_type_img(type) -%}

	{% if type == "users" %}
		<img src="/media/images/24x24/mass_user.png" width="16" title="{{ _('User calendar') }}" />
	{% else %}
		<img src="/media/images/24x24/mass_group.png" width="16" title="{{ _('Group calendar') }}" />
	{% endif %}
{%- endmacro -%}

{%- macro get_user_type(user) -%}
	{% if user.is_system_restricted %}
		{{ _('restricted') }}
	{% elif user.is_system %}
		{{ _('system') }}
	{% elif user.is_standard %}
		{{ _('standard') }}
	{% endif %}
{%- endmacro -%}

{%- macro get_user_filter_class(user) -%}
	{% if user.is_system_restricted %}
		filter_restricted
	{% elif user.is_system %}
		filter_system
	{% elif user.is_standard %}
		filter_standard
	{% endif %}
{%- endmacro -%}


{%- macro get_user_profile(user) -%}
	{% if user.is_system %}

	{% elif user.is_standard %}
		{%- if user.profile -%}
			{{ user.profile.name }}
		{%- else -%}
			{{ _("No profile") }}
		{%- endif -%}
	{%- endif -%}
{%- endmacro -%}




{%- macro get_user_backend_img(user) -%}

	{%- if user.backend.name == 'openldap' -%}
		<i title="{{ _('Openldap backend') }}" class="icon-tasks"></i>
	{%- else -%}
		<i title="{{ _('Shadow backend') }}" class="icon-hdd"></i>
	{%- endif -%}
{%- endmacro -%}


{%- macro get_user_lock_img(user) -%}

	{%- if user.locked -%}
		{%- set message = _('Unlock user account {0}').format(login) -%}
		{%- set icon    = "locked.png" -%}

	{%- else -%}
		{%- set message = _('Lock user account {0}').format(login) -%}
		{%- set icon    = "locked_box.png" -%}

	{%- endif -%}

	<img src="/media/images/24x24/{{icon}}" title="{{message}}" alt='lock/unlock user'>
{%- endmacro -%}


<tr class='licorn_row {{ get_user_filter_class(user) }}' data-id="{{ user.uidNumber }}" id='users_{{ user.uidNumber }}'>
	<!-- type -->
	<td class='centered'>
		{{ get_principal_type_img(calendar.principal_type) }}
	</td>
	<!-- type -->
	<td class='centered'>
		{{ get_proxy_type_img(calendar.proxy_type) }}
	</td>
	<!-- name -->
	<td width="12%">
		<span class="nowrap">{{ calendar.name|replace('_','-') }}</span>
	</td>
	<!-- desc -->
	<td width="12%">
		<span class="nowrap">{{ calendar.desc }}</span>
	</td>
	<!-- url -->
	<td>
		<span class='copy_url'>
			{{ calendar.url }}
		</span>
	</td>

</tr>
	<script language="javascript" type="text/javascript">

		$(document).ready(function() {



			
				});
		</script>