
















{%- macro get_proxy_type_img(type) -%}
	{% if type == "read" %}
		<i class="icon-eye-open" title="{{ _('Reader') }}"></i>
	{% else %}
		<i class="icon-calendar" title="{{ _('Writer') }}"></i>
	{% endif %}
{%- endmacro -%}

{%- macro get_principal_type_img(type) -%}

	{% if type == "users" %}
		<img src="/media/images/24x24/mass_user.png" width="16" title="{{ _('User calendar') }}" />
	{% else %}
		<img src="/media/images/24x24/mass_group.png" width="16" title="{{ _('Group calendar') }}" />
	{% endif %}
{%- endmacro -%}

{%- macro get_user_type(user) -%}
	{% if user.is_system_restricted %}
		{{ _('restricted') }}
	{% elif user.is_system %}
		{{ _('system') }}
	{% elif user.is_standard %}
		{{ _('standard') }}
	{% endif %}
{%- endmacro -%}

{%- macro get_calendar_filter_class(calendar) -%}
	{% if calendar.proxy_type == "read" %}
		filter_read
	{% else %}
		filter_write
	{% endif %}
{%- endmacro -%}

<tr class='licorn_row {{ get_calendar_filter_class(calendar) }}' data-id="{{ calendar.name }}" id='calendars_{{ calendar.name }}'>
	<!-- type -->
	<td class='centered'>
		{{ get_principal_type_img(calendar.principal_type) }}
	</td>
	<!-- type -->
	<td class='centered'>
		{{ get_proxy_type_img(calendar.proxy_type) }}
	</td>
	<!-- name -->
	<td width="12%">
		<span class="nowrap">{{ calendar.name }}</span>
	</td>
	<!-- desc -->
	<td width="12%">
		<span class="nowrap">{{ calendar.desc }}</span>
	</td>
	<!-- url -->
	<td>
		<span title="{{ _('Click to copy URL.') }}">
			<span class='copy_url'>
				{{ calendar.url }}
			</span>
		</span>
	</td>

</tr>
