{#- Copyright 2012 META IT & Robin Lucbernet<robin@meta-it.fr>
    Distributed under the terms of the GNU GPL version 2. -#}

{%- extends 'list.html' -%}

{%- block title -%}
	{{ _('My calendars list') }}
{%- endblock -%}

{%- block list_title -%}
	{{ _('Calendars') }}
{%- endblock -%}

{%- block massive_actions -%}

{%- endblock -%}

{%- block list_filters -%}
	<span class="btn-group" data-toggle="buttons-checkbox">
		<button id='filter_read' class="btn filter_item" data-filter='read'>
			<i class="icon-eye-open" title="{{ _('Reader') }}"></i>
		</button>
		<button id='filter_write' class="btn filter_item" data-filter='write'>
			<i class="icon-calendar" title="{{ _('Writer') }}"></i>
		</button>
	</span>
{%- endblock -%}

{%- block list_headers -%}
	<th class='table_column_header centered' width="7%">{{ _('Type') }}</th>
	<th class='table_column_header centered' width="7%">{{ _('Permissions') }}</th>
	<th class='table_column_header' width="12%">{{ _('Name') }}</th>
	<th class='table_column_header' width="12%">{{ _('Description') }}</th>
	<th class='table_column_header' width="50%">{{ _('URL') }}</th>
{%- endblock -%}

{%- block list_body -%}
	{%- for calendar in calendars -%}
		{%- include 'calendar/calendar_row.html' -%}
	{%- endfor -%}

	<script language="javascript" type="text/javascript">

		$(document).ready(function() {

			// setup the list
			setup_list('calendars');

			text = $('<span></span>')

			$('.copy_url')
				.clickover({
					content : function() { return $(text).html($(this).html().trim()); },
					placement : 'bottom',
					template: '<div class="popover my_popover"><div class="arrow"></div><div class="popover-inner"><div class="popover-content" ><p></p></div></div></div>',
				}).click(function() {
					fnSelect($('.popover-content:visible').last().find('span'))
				});
		});

		function fnSelect(obj) {
			if (document.selection) {
				var range = document.body.createTextRange();
	 	        range.moveToElementText(obj);
				range.select();
			}
			else if (window.getSelection) {
				var range = document.createRange();
				range.selectNode(obj[0]);
				window.getSelection().addRange(range);
			}
		}

		function func_doubleclick_row(td) {
			// what happens when a row has been double clicked,
			// show the edit form.

			return false;
		}

		function get_list_column() {
			return [ "String", "String", "String", "String", "String" ]
		}

		// filters used to filter the table
		var filters = { 'read' : true, 'write': true }
	</script>
{%- endblock -%}



