<style type="text/css">

.weekly_bars_wrapper {
	height: 400px;
	text-align: center;
	background-color: #fafafa;
	padding: 10px 0 10px 10px;
	border-radius: 5px;
	margin: 10px auto;
	width: 500px;
}

.weekly_bars_label {
	text-align: center;
	font-size: 80%;
}

#weekly_bars_chart {
	font: 10px sans-serif;
	font-weight: lighter;
	color: black;
	border: 1px solid black;
}

.databar {
	text-align: center;
	padding: 3px;
	margin: 1px;	
}

.scaleline {
	stroke: #ccc;
}

.baseline {
	stroke: #000;
}

.hour, .label {
	font: sans-serif;
	font-size: 11px;
	color: #580d27;
}

</style>
<div class="weekly_bars_wrapper">
	<div id="weekly_bars_chart_container"></div>
	<div class="weekly_bars_label">{{ _('Allowed activity periods') }}</div>
</div>
<script language="javascript">

	var weekly_bars_is_ready = false;

	// global variables, they are used inside the redraw() function.
	var transition_delay = 2500;
	var transition_fast  = 1750;

	// create a global variable, start the graph with arbitrary values.
	var wbdata = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24];

	var wby = d3.scale.linear()
		.domain([0, Math.ceil(d3.max(wbdata))])
		.range([0, 360]);

	var wbx = d3.scale.ordinal()
		.domain([ "{{ _('Mon.') }}", "{{ _('Tue.') }}", "{{_('Wed.') }}", 
					"{{ _('Thu.') }}", "{{_('Fri.') }}", "{{_('Sat.') }}", 
					"{{_('Sun.') }}" ])
		.rangeBands([30, 495]);

	var wbchart = d3.select('div#weekly_bars_chart_container')
					.append("svg:svg")
						.attr("id", "weekly_bars_chart")
						.attr("width", 490)
						.attr("height", 390)
						.append("svg:g")
						.attr("transform", "translate(10, 15)");

	wbchart.selectAll("line.scaleline")
		.data(wbdata)
		.enter()
			.append("svg:line")
			.attr("class", "scaleline")
			.attr("y1", wby)
			.attr("y2", wby)
			.attr("x1", 35)
			.attr("x2", 495);

	wbchart.selectAll("text.hour")
		.data(wbdata)
		.enter()
			.append("svg:text")
			.attr("class", "hour")
			.attr("x", 0)
			.attr("y", wby)
			.attr("dy", 4)
			//.attr("text-anchor", "left")
			.text(function(d){ return d.toString() + 'h00'; })

	weekly_bars_is_ready = true;

</script>
