<style type="text/css">
	
.weekly_bars_wrapper {
	height: 80%;
	text-align: center;
	background-color: #fafafa;
	border-radius: 5px;
	width: 90%;
}

.weekly_bars_label {
	text-align: center;
	font-size: 80%;
}

#weekly_bars_chart {
	font: 10px sans-serif;
	font-weight: lighter;
	color: black;
	border: 1px solid black;
}

.databar {
	text-align: center;
	padding: 3px;
	margin: 1px;	
}

.scaleline {
	stroke: #ccc;
}

.dayline {
	stroke: #000;
}

.hour, .label {
	font: sans-serif;
	font-size: 11px;
	color: #580d27;
}
.day {
	border:1px solid red;
}
.rect_sep {
	fill:red;
}
.rect_on {
	fill:#BFFF00;
}
.rect_off {
	fill:#BDBDBD;
}
</style>
<div class="weekly_bars_wrapper">
	<div id="weekly_bars_chart_container"></div>
	<div class="weekly_bars_label">{{ _('Extinction calendar : allowed activity periods') }}</div>
</div>
<script language="javascript">

	// VARS 
	var total_width  = 0.9*$("#sub_content_wrapper").width()
	var total_height = 0.8*$("#sub_content_wrapper").height()

	var graph_start_x = 25

	var total_height_graph = total_height - 20
	var total_width_graph = total_width - 20

	var total_width_bar = total_width_graph / 6
	var bar_width = total_width_bar / 2

	var separator_height = 5
	var separator_width = 0.6*total_width_bar	

	// create the chart
	var wbchart = d3.select('div#weekly_bars_chart_container')
					.append("svg:svg")
						.attr("id", "weekly_bars_chart")
						.attr("width", total_width)
						.attr("height", total_height)
						.append("svg:g");

	// hour line vectors
	var hour_vect = d3.scale.linear()
	    .domain([6, 22])
    	.range([25, total_height_graph]);

    // day cols vectors
    var day_vect = d3.scale.ordinal()
		.domain([0,1,2,3,4,5,6])
		.rangeBands([35, total_width_graph]);
    
    // hour line
	wbchart.selectAll("line_hour")
	    .data([6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22])
	    .enter().append("svg:line")
		.attr("y1", hour_vect)
		.attr("y2", hour_vect)
		.attr("x1", 35)
		.attr("x2", total_width_graph)
		.text(String)
	    .style("stroke", "#ccc");

	// hour text 
	wbchart.selectAll("text.hour")
		.data([6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22])
		.enter().append("svg:text")
		.attr("class", "hour")
		.attr("x", 25)
		.attr("y", hour_vect)
		.attr("dx", -3)
		.text(function(d){ return d.toString() + 'h00'; })
		.attr("text-anchor", "middle")
		.text(String);

	// DAY TEXT 
	wbchart.selectAll("text.day")
	.data([ "{{ _('Mon.') }}", "{{ _('Tue.') }}", "{{_('Wed.') }}", 
					"{{ _('Thu.') }}", "{{_('Fri.') }}", "{{_('Sat.') }}", 
					"{{_('Sun.') }}" ])
	.enter()
		.append("svg:text")
		.attr("class", "day")
		.attr("x", day_vect)
		.attr("y", 20)
		.attr("dx", function(d, i){ return total_width_bar/2.5; })
		.text(function(d, i){ return d; })

	function draw_extinction_calendar(data_separators, data_on_off) {
		
		// rect on
		rect_on = wbchart.selectAll(".rect_on").data(data_on_off)
			
		rect_on.enter()
			.append("svg:rect")
			.attr("class", "rect_on")
			.attr("x", function(d, i) { return day_vect(i) + bar_width/2 })
			
			.attr("width", bar_width)
			.attr("height", function(d) { return hour_vect(d.off) - hour_vect(d.on) })
			.attr("y", function(d) { return hour_vect(d.on); });

		rect_on
			.attr("x", function(d, i) { return day_vect(i) + bar_width/2 })
			.attr("width", bar_width)
			.attr("height", function(d) { return hour_vect(d.off) - hour_vect(d.on) })
			.attr("y", function(d) { return hour_vect(d.on); });
		
		rect_on.exit().remove()
		
		// rect off
		rect_off= wbchart.selectAll(".rect_off").data(data_on_off)
			
		rect_off.enter()
			.append("svg:rect")
			.attr("class", "rect_off")
			.attr("x", function(d, i) { return day_vect(i) + bar_width/2 })
			
			.attr("width", bar_width)
			.attr("height", function(d) { return hour_vect(22) - hour_vect(d.off) })
			.attr("y", function(d) { return hour_vect(d.off); });
		
		rect_off
			.attr("x", function(d, i) { return day_vect(i) + bar_width/2 })
			.attr("width", bar_width)
			.attr("height", function(d) { return hour_vect(22) - hour_vect(d.off) })
			.attr("y", function(d) { return hour_vect(d.off); });
		
		rect_off.exit().remove()
		

		// draw separators		
		separators = wbchart.selectAll(".rect_sep").data(data_separators)

		separators.enter()
			.insert("svg:rect")
			.attr("class", "rect_sep")
			.attr("x", function(d) { return day_vect(d.day) + ( total_width_bar - separator_width)/2 })
			.attr("width", separator_width)
			.attr("height", separator_height)
			.attr("y", function(d) { return hour_vect(d.hour) - separator_height/2 })
		
		separators
			.attr("class", "rect_sep")
			.attr("x", function(d) { return day_vect(d.day) + ( total_width_bar - separator_width)/2 })
			.attr("width", separator_width)
			.attr("height", separator_height)
			.attr("y", function(d) { return hour_vect(d.hour) - separator_height/2 })

		separators.exit().remove()

		
		
		
		$('svg .rect_sep').tipsy({ 
	    	gravity: 's', 
	    	html: true, 
	    	title: function() {
	    		var d = this.__data__, g = d.who;
	    		return strargs(gettext('Extinction of %1'), [ g ]); 
	    	   }
	    });

	}

	//data_separators = [{day:'2', hour:13},{day:'6', hour:13}, {day:'0', hour:13}]
	//data_on_off = [{'on':6, 'off':13}, {'on': 6, 'off':22}, {'on':6, 'off':13}, {'on': 6, 'off':22},{'on': 6, 'off':22},{'on': 6, 'off':22}, {'on':6, 'off':13} ]

	//draw_extinction_calendar([], [])	






/*

	var weekly_bars_is_ready = false;

	// global variables, they are used inside the redraw() function.
	var transition_delay = 2500;
	var transition_fast  = 1750;

	// create a global variable, start the graph with arbitrary values.
	var data_hour = [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22];
	var data_day = [ "{{ _('Mon.') }}", "{{ _('Tue.') }}", "{{_('Wed.') }}", 
					"{{ _('Thu.') }}", "{{_('Fri.') }}", "{{_('Sat.') }}", 
					"{{_('Sun.') }}" ]


	
	// day ==> Monday:0;...;Sunday:6
	var data_calendar = []
	
	// vectors
	var v_lines = d3.scale.linear()
		.domain([6, 22])
		.range([0, 360]);

	var v_days = d3.scale.ordinal()
		.domain(data_day)
		.rangeBands([55, 495]);

	// chart
	var wbchart = d3.select('div#weekly_bars_chart_container')
					.append("svg:svg")
						.attr("id", "weekly_bars_chart")
						.attr("width", $("#weekly_bars_wrapper").width())
						.attr("height", $("#weekly_bars_wrapper").height())
						.append("svg:g")
						.attr("transform", "translate(10, 15)");

	//first, create hour lines and add the text
	wbchart.selectAll("line.scaleline")
		.data(data_hour)
		.enter()
			.append("svg:line")
			.attr("class", "scaleline")
			.attr("y1", v_lines)
			.attr("y2", v_lines)
			.attr("x1", 35)
			.attr("x2", 495);


	wbchart.selectAll("text.hour")
		.data(data_hour)
		.enter()
			.append("svg:text")
			.attr("class", "hour")
			.attr("x", 0)
			.attr("y", v_lines)
			.attr("dy", 4)
			//.attr("text-anchor", "left")
			.text(function(d){ return d.toString() + 'h00'; })

	//add days text label
	wbchart.selectAll("text.day")
		.data(data_day)
		.enter()
			.append("svg:text")
			.attr("class", "day")
			.attr("x", v_days)
			.attr("y", 0)
			//.attr("dx", 4)
			//.attr("text-anchor", "right")
			.text(function(d, i){ return d; })


	var step = 10;

	wbchart.selectAll("text.dayline")
		.data(d3.range(0, 7))
		.enter()
			.append("svg:line")
			.attr("class", "dayline")
			.attr("y1", 0)
			.attr("y2", 360)
			.attr("x1", function(d) { return v_days(d) - step })
			.attr("x2", function(d) { return v_days(d) - step })
			.style("opacity", 0.5);


	wbchart.selectAll("text.dayline")
		.data(d3.range(0, 7))
		.enter()
			.append("svg:line")
			.attr("class", "dayline")
			.attr("y1", 0)
			.attr("y2", 360)
			.attr("x1", function(d) { return v_days(d) + step*3 })
			.attr("x2", function(d) { return v_days(d) + step*3 })
			.style("opacity", 0.5);

	var first_pass = true;
	var count = 1;

	function update_extinction_calendar(new_data_calendar) {

		//console.log('update_calendar '+new_data_calendar)
		//console.log(typeof(new_data_calendar))
		if (typeof(new_data_calendar) == "string") {
			//console.log("creating array")
			temp_tab=new_data_calendar.split(',');
			new_data_calendar=[{'id': temp_tab[0], 'who': temp_tab[1], 'hour': parseInt(temp_tab[2]),'day': parseInt(temp_tab[3])}];
			//console.log(new_data_calendar)
		}
		//console.log("new_data_calendar");
		//console.log(new_data_calendar);
		//console.log(new_data_calendar[0]['id'])
		if (new_data_calendar != null) {
		
			for (var j=0; j< new_data_calendar.length; j++) {
				not_merged = true
				new_rule = new_data_calendar[j];
				for (var i=0; i< data_calendar.length; i++) {

					current_rule = data_calendar[i];

					//console.log(current_rule);
					//console.log(new_rule)
					
					if (current_rule['hour'] == new_rule['hour'] && current_rule['day'] == new_rule['day']) {
						//console.log('same rule event on day '+ current_rule['day'] +' '+current_rule['start_time']);
						//console.log('going to manually concat '+new_rule['who'] + ' in ' + current_rule['who'])


						current_rule['who'] = [current_rule['who']].concat([new_rule['who']])
						current_rule['id'] = [current_rule['id']].concat([new_rule['id']])
						not_merged = false;
					}

				}
				if (not_merged) {
					//console.log("automatically merged")
					data_calendar = data_calendar.concat(new_rule);	
				}	
			}
		}		


		rect_off = wbchart.selectAll(".rect_off").data(data_calendar)
		


		rect_off.enter()
				.insert("svg:rect")
				.attr("class", "rect_off")
				.attr("x", function(d) { return v_days(d.day) - 10 })
				//.attr("y", function(d) { return v_lines(d.hour) })
				
				.attr("width", 40)
				.transition()
					.duration(transition_delay)
						.attr("height", function(d) { return v_lines(22) - v_lines(d.hour) })
						.attr("y", function(d) { return v_lines(d.hour) })
						
				//.attr("width", avg_chart_x);;

		rect_off.transition()
			.duration(transition_delay)
				.attr("x", function(d) { return v_days(d.day) - 10 })
				.attr("y", function(d) { return v_lines(d.hour)  })
				.attr("width", 40)
				.attr("height", function(d) { return v_lines(22) - v_lines(d.hour) });
		
		rect_off.exit().remove()


		//on
		rect_on = wbchart.selectAll(".rect_on").data(data_calendar)
		
		rect_on.enter()
				.append("svg:rect")
				.attr("class", "rect_on")
				.attr("x", function(d) { return v_days(d.day) - 10 })
				
				.attr("width", 40)
				.transition()
					.duration(transition_delay)
						.attr("height", function(d) { return v_lines(d.hour); })
						.attr("y", function(d) { return 7; });

				//.on("mouseover", fade(.1))
				//.on("mouseout", fade(1)); 
		
		rect_on.transition()
			.duration(transition_delay)
				
				.attr("x", function(d) { return v_days(d.day) - 10 })
				.attr("y", function(d) { return 7; })
				.attr("width", 40)
				.attr("height", function(d) { return v_lines(d.hour); });
		
		rect_on.exit().remove()



		// draw separators		
		separators = wbchart.selectAll(".rect_sep").data(
			data_calendar)

		
		//console.log("data_calendar");
		//console.log(data_calendar);

		separators.enter()
				.insert("svg:rect")
				.attr("class", "rect_sep")
				.attr("x", function(d) { return v_days(d.day) - 15 })
				//.attr("y", function(d) { return v_lines(d.hour) })
				.attr("width", 50)
				.attr("height", 5)
				.transition()
					.duration(transition_delay)
						//.attr("height", 5)
						.attr("y", function(d) { return v_lines(d.hour) })
				
		//separators.on("mouseover", show_group(d));		
		separators.transition()
			.duration(transition_delay)
				.attr("y", function(d, i) { return v_lines(d.hour); })
				.attr("x", function(d, i) { return v_days(d.day) - 15; });

		separators.exit()
			.transition()
				.attr("y", function(d, i) { return v_lines(d.hour); })
			.remove();	





		
	
		$('svg .rect_sep').tipsy({ 
	    	gravity: 's', 
	    	html: true, 
	    	title: function() {
	    		var d = this.__data__, g = d.who;
	    		return 'Extinction of '+ g; 
	    	   }
	    });


	    
	}

	// at the first launch, import already existing rules 
	//update_extinction_calendar({{ calendar_rules }})




	
	weekly_bars_is_ready = true;
	
	 
	function show_group(d) {
		//console.log("hover");
		 wbchart.selectAll(".rect_sep")
		     .filter(function(d) {
		     	console.log("ddd = ");
		     	console.log(d)
		       return d;
		    })
		   .transition()
		     .style("height", 10);
		
	}

	function fade(opacity) {
		//console.log("hover");
		return function(g, i) {
			console.log("tototototoo")
		 wbchart.selectAll(".rect_off")
		     .filter(function(d) {
		     	console.log("ddd = " + d);
		     	console.log(d);
		       return d;
		    })
		   .transition()
		     .style("opacity", opacity);
		};
	}
	*/
</script>

