# This sample file should go to /etc/licorn/licorn.conf
# see http://docs.licorn.org/configuration.html for details.

# Role (default: unset, licornd doesn't start).
licornd.role = server

# Experimental features (default: disabled)
experimental.enabled = True

# adjust number of threads in pools (default: see online documentation)
licornd.threads.pool_members = 5

# Disable some of licornd features if you want (default: all enabled).
#
#licorn.network.enabled = False
#licornd.wmi.enabled = False

# Completely disable extensions at will (2 ways).
#
# In normal conditions, extension availability and activation are determined
# by the real presence of services on your system (and enabled status in
# /etc/default/* or distro equivalent). But you could want to force one or more
# extension not to load (eg. extensions for which available == enabled).
#
# The global directive (a python list):
#extensions.ignore = [ 'squid', 'rdiffbackup' ]
#
# or individual settings:
#extensions.openssh.ignore = True
#extensions.volumes.ignore = True
#extensions.caldavd.ignore = True

# just for testing. This should not work.
#backends.shadow.enabled = False
