{#- Copyright 2011 META IT & Olivier Cortès <oc@meta-it.fr>
    Distributed under the terms of the GNU GPL version 2. -#}

{%- extends 'fullbase.html' -%}

{%- block extended_media -%}
	{{ super() }}
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/media/css/daemon_status.css" />
	<link rel="stylesheet" type="text/less" media="screen,projection" href="/media/css/table_view.css" />
	<script language="javascript" type="text/javascript" src="/media/js/d3/d3.min.js"></script>
	<script language="javascript" type="text/javascript" src="/media/js/d3/d3.layout.min.js"></script>
{%- endblock -%}

{%- block title -%}{{ _('Server status') }}{%- endblock -%}
