{#- Copyright 2011 META IT & Robin Lucbernet<rl@meta-it.fr>
    Distributed under the terms of the GNU GPL version 2. -#}

{#- REMOVE IT -#}
{% from 'widgets/common.html' import licorn_list, jquery_popover_media with context %}

{%- extends 'template_one_content.html' -%}

{%- block extended_media -%}
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/media/css/licorn_table.css" />
	<script language="javascript" type="text/javascript" src="/media/js/jquery.uitablefilter.js"></script>
	<script language="javascript" type="text/javascript" src="/media/js/jquery.iselectable.js"></script>


{%- endblock -%}

{%- block title -%}{{ _('Machines management') }}{%- endblock -%}

{%- block main_content -%}
	<div class="modal hide fade" id="machine_modal">
		{{ edit_html }}
	</div>

	<div class='table_header'>
		<span class='table_header_title table_header_item'>
			Machines (<span id='model_machines_count'>{{ machines|length }}</span>)
		</span>

		<span class='table_header_massive_actions table_header_item'>
			<table>
				<tr>
					<td>
						{{ _('Massive action :') }}
					</td>
					<td>
						<div class="btn-group">
							<button class="btn massive_action" data-url='/machines/massive/upgrade/' data-name='upgrade'>{{_('Upgrade')}}</button>
							<button class="btn massive_action" data-url='/machines/massive/shutdown/' data-name='shutdown'>{{_('Shutdown')}}</button>
							<!--<button class="btn">2</button>-->
						</div>
					</td>
				</tr>
			</table>

		</span>

		<span class='table_header_filter table_header_item'>
			<div class="input-prepend" >
				<span class="add-on">{{ _('Filter') }}</i></span><input type='text' id="list_filter"/>
			</div>
		</span>
	</div>
	<table class="table sortable" id="model_machines_table">
		<thead>
			<tr>
				<th class='table_column_header centered' style="width: 5%">{{ _('Status') }}</th>
				<th class='table_column_header' style="width: 75%">{{ _('Hostname') }}</th>
				<th class='table_column_header centered' style="width: 5%">{{ _('Type') }}</th>
				<th class='table_column_header centered' style="width: 5%">{{ _('Operating System') }}</th>
			</tr>
		</thead>
		<tbody>
			{%- for machine in machines -%}
				{%- include 'machines/machine_row.html' -%}
			{%- endfor -%}
		</tbody>
	</table>


	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			setup_machines();

			{%- if edit_html -%} 
				$("#machine_modal").modal();
			{%- endif -%}
		});

		var default_sort = [[1,0]]
		var setup_row_timeout;

		var select_active_class = 'row_selected'

		function setup_machines() {
			/* Setup all events related to machines */

			// setup the filter mecanism
			setup_table_search($('#model_machines_table'), $('#list_filter'));
			// make rows selectable
			setup_table_row_selectable($('#model_machines_table tbody'), select_active_class, '.not-me');
			// setup doubleclick on each rows
			setup_table_row_doubleclick($('#model_machines_table tbody td'), func_doubleclick_row);
			// setup the sort plugin
			setup_table_sorter(default_sort);

			// setup upgrade facilities
			setup_upgrade_facilities();

			//massives actions
			setup_massive_actions();

		}
		function setup_upgrade_facilities(selector) {
			if (selector == null) {
				selector = $(".machine_upgrade")
			}
			selector.click(function() {
				mid = $(this).data('mid')
				$.get('/machines/upgrade/'+mid)
			})
		}


		function setup_row(row) {

			clearTimeout(setup_row_timeout)

			setup_table_row_doubleclick($(row), func_doubleclick_row)

			// filter the list
            $('#list_filter').trigger('keyup')

			// let know the sort plugin that we updated the table
			$("table.sortable").trigger("update");

			setup_upgrade_facilities(row.find('.machine_upgrade'))

			setup_row_timeout = setTimeout( function() {
				
				// try to do it only once because it is applyed to the whole table
				setup_table_row_selectable($('#model_machines_table tbody'), select_active_class, '.not-me')
				},
				1000);

			// resort the table
			$("table.sortable").trigger('update').trigger("sorton",[default_sort]);
				
		}
		function func_doubleclick_row(td_element) {
			if (! $(td_element).hasClass('no_double_click')) {
				mid = td_element.data('mid')
				if (mid == null) {
					mid = td_element.parent('.licorn_row').data('mid')
				}

				$.get('/machines/edit/'+mid, function(modal_html) {
					$("#machine_modal").html(modal_html).modal()
				})
			}
		}

		function setup_massive_actions() {
			$('.massive_action').click(function() {
				// get selected items
				selected_rows = get_selected_rows($('#model_machines_table tbody'), select_active_class);

				action_name = $(this).data('name')
				action_url = $(this).data('url')

				if (selected_rows.length == 0) {
					show_message_through_notification('{{ _("Please select at least one machine to apply massive action <strong><em>'+action_name+'</em></strong> on") }}');
				}
				else {


					mids=[]
					$.each(get_selected_rows($('#model_machines_table tbody'), select_active_class), function(i, item) {
						mids.push($(item).data('mid'))
					})


					// get the massive selection template
					$.get('/machines/massive_select_template/'+action_name+'/'+mids.join(','), function(modal_html) {
						$("#machine_modal").html(modal_html).modal()
						init_massive_select_events(action_url, mids);
					})
				}
			})
		}
		function init_massive_select_events(action, mids) {
			$('#apply_massive_action').click(function() {
				// close the modal
				$("#machine_modal").modal('hide')

				// run the action
				$.get(action + mids)

				// unselect all rows
				$('.row_selected').removeClass('row_selected')

			})
		}
		function bind_escape() {

			$(document).keyup(function(e) {
				/* if a table filter as been set, unset it.
				If not, if rows are selected, unselect them. */

				if (e.keyCode == 27) {    // ESC

					var searchb = $('#list_filter');

					if (searchb != [] && searchb.val() != "") {
						searchb.val('');
						searchb.keyup();

					} else {
						/*$.each(get_selected_rows($('#model_machines_table tbody'), select_active_class), function(i, item) {
							console.log(i, item)
							$(item).removeClass('row_selected').trigger('mousedown').trigger('mouseup');
						})*/
						$('.row_selected').removeClass('row_selected')
					}


				}
			});

		}
	</script>


{%- endblock -%}




