{#- Copyright 2011 META IT & Robin Lucbernet<rl@meta-it.fr>
    Distributed under the terms of the GNU GPL version 2. -#}

{% from 'widgets/common.html' import licorn_list, jquery_popover_media with context %}

{%- extends 'fullbase.html' -%}

{%- block extended_media -%}
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/media/css/list.css" />
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/media/css/machines.css" />
	{{ jquery_popover_media() }}
	<script language="javascript" type="text/javascript" src="/media/js/list.js"></script>
	<script language="javascript" type="text/javascript" src="/media/js/machines.js"></script>
{%- endblock -%}

{%- block title -%}{{ _('Machines management') }}{%- endblock -%}

{%- block main_content -%}

	{#-
		{ "action_name" : "delete", "icon" : "/media/images/24x24/mass_del.png"},
		{ "action_name" : "export", "icon" : "/media/images/24x24/mass_export.png"},
	-#}
	{%- set massive_actions = [ { "action_name" : "upgrade", "icon" : "/media/images/24x24/mass_skel.png"}, ] -%}
	{%-
		set headers = [ { "name" : "select",   "content" : "<input type=\'checkbox\' name=\'select\' id=\'massive_select\'>",
																		"sortable" : False},
						{ "name" : "state",    "content" : _("Status"), "sortable" : True, "default_sort" : False},
						{ "name" : "hostname", "content" : _('Hostname'), "sortable" : True, "default_sort" : True},
						{ "name" : "type",     "content" : _('Type'), "sortable" : True, "default_sort" : False},
						{ "name" : "os",       "content" : _('Op. System'), "sortable" : True, "default_sort" : False},
						{ "name" : "nav",      "content" : "", "sortable" : False} ]
	-%}
	{{ licorn_list('machines', 'hostname', _('Machines'),
					massive_actions, headers,
					machines_list, 'machines/machine_row.html',
					[ 'hostname', 'mid' ], 'mid') }}

	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			number_of_list = 1;
			//init size of lists
			$(".list_content").hide();

			height = $("#main_content").height() - number_of_list * ($(".list_title").height());
			content = $(".list:first").find(".list_content");
			content.show();
			$(".list:first").addClass('current_list');
			//content.show().height(height);
			$('.list_items').height(height - content.find('.search_bar').height() - content.find('.list_header').height() - 100);
			$('.row').width(content.find('.list_header').width());

			// init click event on list title
			$(".list_title").each(function() {
				$(this).click(function() {
					$('.current_list').removeClass('current_list');
					$(this).parent().addClass('current_list');
					$(".list_content").hide();
					$(this).parent().find(".list_content").show();
				});
			});

			$("#search_box").focus();
		});
	</script>

{%- endblock -%}

{%- block sub_content -%}
{%- endblock -%}


