{#- Copyright 2011 META IT & Robin Lucbernet<rl@meta-it.fr>
    Distributed under the terms of the GNU GPL version 2. -#}

{#- REMOVE IT -#}
{% from 'widgets/common.html' import licorn_list, jquery_popover_media with context %}

{%- extends 'template_one_content.html' -%}

{%- block extended_media -%}
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/media/css/licorn_table.css" />
	<script language="javascript" type="text/javascript" src="/media/js/jquery.uitablefilter.js"></script>
	

{%- endblock -%}

{%- block title -%}{{ _('Machines management') }}{%- endblock -%}

{%- block main_content -%}

	<div class='table_header'>
		<span class='table_header_title table_header_item'>
			Machines (<span class='table_header_item_counter'>{{ machines|length }}</span>)
		</span>

		<span class='table_header_massive_actions table_header_item'>
			MASSIVE ACTIONS
		</span>

		<span class='table_header_filter table_header_item'>
			<div class="input-prepend">
				<span class="add-on">{{ _('Filter') }}</i></span><input type='text' id="list_filter"/>
			</div>
		</span>
	</div>
	<table class="table sortable" id="machines_table">
		<thead>
			<tr>
				<th>Status</th>
				<th>hostname</th>
				<th>type</th>
				<th>OS</th>
			</tr>
		</thead>
		<tbody>
			{%- for machine in machines -%}
				<tr>
					{%- include 'machines/machine_row.html' -%}
				</tr>
			{%- endfor -%}
		</tbody>
	</table>

		

	<script language="javascript" type="text/javascript">
		$(document).ready(function() {

			// from common.js
			setup_table_filter($('#machines_table'), $('#list_filter'))


			
		});
	</script>


{%- endblock -%}




