{%- macro updates_status(machine) -%}
	{%- if machine.updates_available() -%}
		{%-if machine.security_updates() %}
			{%- set message = _('Security updates available. Click to install.') -%}
			{%- set icon = 'software-update-urgent.png' -%}

		{%- else -%}
			{%- set message = _('Software updates available. Click to install.') -%}
			{%- set icon = 'software-update-available.png' -%}

		{%- endif -%}

		&nbsp;<img src="/media/images/16x16/{{ icon }}"
			title="{{ message }}" alt="{{ message }}"/>
	{%- endif -%}
{%- endmacro -%}


<td sort-data='{{ machine.status }}' filter-data='{{ machine.status }}'>
	<img src="/media/images/16x16/{{ get_host_status_html[machine.status][0] }}"
				alt="{{ get_host_status_html[machine.status][1] }}" width="16" height="16" />
</td>
<td>
	{{ machine.hostname }} 

	{%- if machine.hostname != machine.mid -%}
		&nbsp; ( {{ machine.mid }} )
	{%- endif -%}


	{{ updates_status(machine) }}
</td>
<td sort-data='{{ machine.system_type }}' filter-data="toto">
	<img src="/media/images/16x16/{{ get_host_type_html(machine.system_type)[0] }}" alt="{{ get_host_type_html(machine.system_type)[1] }}" width="16" height="16" />
</td>
<td sort-data='{{ machine.system_type }}'>
	<img src="/media/images/16x16/{{ get_host_os_html(machine.system_type)[0] }}"
					alt="{{ get_host_os_html(machine.system_type)[1] }}" width="16" height="16" />
<td>


