{%- macro updates_status(machine) -%}
	{%- if machine.updates_available() -%}
		{%-if machine.security_updates() %}
			{%- set message = _('Security updates available. Click to install.') -%}
			{%- set icon = 'software-update-urgent.png' -%}

		{%- else -%}
			{%- set message = _('Software updates available. Click to install.') -%}
			{%- set icon = 'software-update-available.png' -%}

		{%- endif -%}

		&nbsp;<img src="/media/images/16x16/{{ icon }}"
			title="{{ message }}" alt="{{ message }}" class="machine_upgrade" data-mid="{{ machine.mid }}"/>
	{%- endif -%}
{%- endmacro -%}

<tr data-mid="{{ machine.mid }}" id='machines_{{ machine.wid }}'>
	<td data-sort='{{ machine.status }}' data-filter='{{ machine.status }}'>
		<img src="/media/images/16x16/{{ get_host_status_html[machine.status][0] }}"
					alt="{{ get_host_status_html[machine.status][1] }}" width="16" height="16" />
	</td>
	<td>
		{{ machine.hostname }}

		{%- if machine.hostname != machine.mid -%}
			&nbsp; ( {{ machine.mid }} )
		{%- endif -%}


		<span id="machine_status"> {{ updates_status(machine) }} </span>
	</td>
	<td data-sort='{{ machine.system_type }}' data-filter="toto">
		<img src="/media/images/16x16/{{ get_host_type_html(machine.system_type)[0] }}" alt="{{ get_host_type_html(machine.system_type)[1] }}" width="16" height="16" />
	</td>
	<td data-sort='{{ machine.system_type }}'>
		<img src="/media/images/16x16/{{ get_host_os_html(machine.system_type)[0] }}"
						alt="{{ get_host_os_html(machine.system_type)[1] }}" width="16" height="16" />
	</td>
</tr>

