{%- macro updates_status(machine) -%}
	{%- if machine.updates_available() -%}
		{%-if item.security_updates() %}
			{%- set message = _('Security updates available. Click to install.') -%}
			{%- set icon = 'software-update-urgent.png' -%}

		{%- else -%}
			{%- set message = _('Software updates available. Click to install.') -%}
			{%- set icon = 'software-update-available.png' -%}

		{%- endif -%}

		&nbsp;<img src="/media/images/16x16/{{ icon }}"
			title="{{ message }}" alt="{{ message }}"/>
	{%- endif -%}
{%- endmacro -%}

	<div class='{{ name }}_row row' id="{{ item.mid|replace('.','_') }}">
		<span class="{{ name }}_select">
			<input type="checkbox" name="selected" class="{{ name }}_checkbox">
		</span>
		<span class="{{ name }}_state odd_even_typed ">
			<img src="/media/images/16x16/{{ get_host_status_html[item.status][0] }}"
				alt="{{ get_host_status_html[item.status][1] }}" width="16" height="16" />
		</span>
		<span title="{{ _('Click to edit machine {0}').format(item['hostname']) }}" class="{{ name }}_content">
			<span class="{{ name }}_hostname odd_even_typed"> {{ item.hostname }} {{ updates_status(item) }}</span>
			<span class="{{ name }}_type odd_even_typed">
				<img src="/media/images/16x16/{{ get_host_type_html(item.system_type)[0] }}" alt="{{ get_host_type_html(item.system_type)[1] }}" width="16" height="16" />
			</span>
			<span class="{{ name }}_os odd_even_typed">
				<img src="/media/images/16x16/{{ get_host_os_html(item.system_type)[0] }}"
					alt="{{ get_host_os_html(item.system_type)[1] }}" width="16" height="16" />
			</span>
		</span>
		<span class="{{ name }}_nav odd_even_typed">
			<span class="item_menu">
					<div class="{{ name }}_updates">
						{{ updates_status(item) }}
					</div>
				<div class="{{ name }}_shutdown">
					{%- set message = _('Shutdown this machine now.') -%}
					<img src="/media/images/16x16/shutdown.png"
						title="{{ message }}" alt="{{ message }}"/>
				</div>
			</span>
		</span>
	</div>
	<script type='text/javascript'>
		$(document).ready(function() {
			init_machines_events('{{ name }}', '{{ item.mid }}', '{{ item.hostname }}', 'mid');
		});
	</script>
