{%- macro get_group_type_img(group) -%}

	{% if group.is_privilege %}
		<img src="/media/images/16x16/group_priv.png" alt='privileged group image' title="{{ _('Privileged group') }}"/>
	{% elif group.is_system_restricted %}
		<img src="/media/images/16x16/group_rst.png" alt='restricted group image' title="{{ _('Restricted group') }}"/>
	{% elif group.is_system %}
		<img src="/media/images/16x16/group_sys.png" alt='system group image' title="{{ _('System group') }}"/>
	{% elif group.is_standard %}
		<img src="/media/images/16x16/group_std.png" alt='standard group image' title="{{ _('Standard group') }}"/>
	{% endif %}
{%- endmacro -%}

{%- macro get_group_type(group) -%}

	{% if group.is_privilege %}
		{{ _('privileged') }}
	{% elif group.is_system_restricted %}
		restricted
	{% elif group.is_system %}
		{{ _('system') }}
	{% elif group.is_standard %}
		{{ _('standard') }}
	{% endif %}
{%- endmacro -%}
{%- macro get_group_filter_class(group) -%}
	{% if group.is_privilege %}
		filter_privileged
	{% elif group.is_system_restricted %}
		filter_restricted
	{% elif group.is_system %}
		filter_system
	{% elif group.is_standard %}
		filter_standard
	{% endif %}
{%- endmacro -%}



{%- macro get_group_permissivness_img(group) -%}
	
	{%- if not group.is_system -%}

		{%- if group.is_permissive -%}
			{%- set perm_title = _("Make group {0} permissive.").format(group.name) -%}
			{%- set perm_class = "group_permissive_action" -%}
			{%- set perm_img   = "/media/images/24x24/locked_box.png" -%}
		{%- else -%}
			{%- set perm_title = _("Make group {0} NOT permissive.").format(gname) -%}
			{%- set perm_class = "group_not_permissive_action" -%}
			{%- set perm_img   = "/media/images/24x24/locked.png" -%}
		{%- endif -%}
		
		{%- set perm_alt   = "Permissivness image" -%}

		<img src='{{ perm_img }}' class='{{ perm_class }}' alt='{{ perm_alt }}' title='{{ perm_title }}'/>
	{%- endif -%}
	
{%- endmacro -%}


<tr class='licorn_row {{ get_group_filter_class(group) }}' data-gid="{{ group.gidNumber }}" id='groups_{{ group.gidNumber }}'>
	<!-- permissive -->
	<td class='centered' data-sort='{{ group.is_permissive }}' data-search="">
		{{ get_group_permissivness_img(group) }}
	</td>
	<!-- type -->
	<td class='centered' data-search="{{ get_group_type(group) }}">
		{{ get_group_type_img(group) }}
	</td>
	<!-- name -->
	<td data-sort="{{ group.name }}" data-search="{{ group.name }}">
		<span>{{ group.name }}<span>
	</td>
	<!-- description -->
	<td data-sort="{{ group.name }}" data-search="{{ group.name }}">
		<span>{{ group.description }}<span>
	</td>
	<!-- gidNumber -->
	<td data-sort="{{ group.gidNumber }}" data-search="{{ group.name }}">
		<span>{{ group.gidNumber }}<span>
	</td>
	<!-- skel -->
	<td data-sort="{{ group.name }}" data-search="{{ group.name }}">
		<span>{{ group.groupSkel }}<span>
	</td>
	<!-- nav -->
	<td data-sort="{{ group.name }}" data-search="{{ group.name }}">
		<span>nav<span>
	</td>

	
</tr>
















