{%- macro get_group_type_img(group) -%}
	group type
{%- endmacro -%}

{%- macro get_group_permissivness_img(group) -%}
	
	{%- if not group.is_system -%}

		{%- if group.is_permissive -%}
			{%- set perm_title = _("Make group {0} permissive.").format(group.name) -%}
			{%- set perm_class = "group_permissive_action" -%}
			{%- set perm_img   = "/media/images/24x24/locked_box.png" -%}
		{%- else -%}
			{%- set perm_title = _("Make group {0} NOT permissive.").format(gname) -%}
			{%- set perm_class = "group_not_permissive_action" -%}
			{%- set perm_img   = "/media/images/24x24/locked.png" -%}
		{%- endif -%}
		
		{%- set perm_alt   = "Permissivness image" -%}

		<img src='{{ perm_img }}' class='{{ perm_class }}' alt='{{ perm_alt }}' title='{{ perm_title }}'/>
	{%- endif -%}
	
{%- endmacro -%}
<tr class='licorn_row' data-gid="{{ group.gidNumber }}" id='groups_{{ group.gidNumber }}'>
	<!-- permissive -->
	<td class='centered' data-sort='{{ group.is_permissive }}' data-filter="">
		{{ get_group_permissivness_img(group) }}
	</td>
	<!-- type -->
	<td class='centered' data-filter="">
		{{ get_group_type_img(group) }}
	</td>
	<!-- name -->
	<td data-sort="{{ group.name }}" data-filter="{{ group.name }}">
		<span>{{ group.name }}<span>
	</td>
	<!-- description -->
	<td data-sort="{{ group.name }}" data-filter="{{ group.name }}">
		<span>{{ group.description }}<span>
	</td>
	<!-- gidNumber -->
	<td data-sort="{{ group.name }}" data-filter="{{ group.name }}">
		<span>{{ group.name }}<span>
	</td>
	<!-- skel -->
	<td data-sort="{{ group.name }}" data-filter="{{ group.name }}">
		<span>{{ group.groupSkel }}<span>
	</td>
	<!-- nav -->
	<td data-sort="{{ group.name }}" data-filter="{{ group.name }}">
		<span>nav<span>
	</td>

	
</tr>

















