{%- macro get_group_type_img(group) -%}

	{% if group.is_privilege %}
		<i title="{{ _('Privileged group') }}" class="icon-glass licorn_tooltip"></i>
	{% elif group.is_system_restricted %}
		<i title="{{ _('Restricted system group') }}" class="icon-warning-sign licorn_tooltip"></i>
	{% elif group.is_system %}
		<i title="{{ _('System group') }}" class="icon-wrench licorn_tooltip"></i>
	{% elif group.is_standard %}
		<i title="{{ _('Standard group') }}" class="icon-map-marker licorn_tooltip"></i>
	{% endif %}
{%- endmacro -%}

{%- macro get_group_type(group) -%}

	{% if group.is_privilege %}
		{{ _('privileged') }}
	{% elif group.is_system_restricted %}
		restricted
	{% elif group.is_system %}
		{{ _('system') }}
	{% elif group.is_standard %}
		{{ _('standard') }}
	{% endif %}
{%- endmacro -%}
{%- macro get_group_filter_class(group) -%}
	{% if group.is_privilege %}
		filter_privileged
	{% elif group.is_system_restricted %}
		filter_restricted
	{% elif group.is_system %}
		filter_system
	{% elif group.is_standard %}
		filter_standard
	{% endif %}
{%- endmacro -%}

{%- macro get_group_backend_img(group) -%}

	{%- if group.backend.name == 'openldap' -%}
		<i title="{{ _('Openldap backend') }}" class="icon-tasks"></i>
	{%- else -%}
		<i title="{{ _('Shadow backend') }}" class="icon-hdd"></i>
	{%- endif -%}
{%- endmacro -%}

{%- macro get_group_permissivness_img(group) -%}
	
	{%- if not group.is_system -%}

		{%- if group.is_permissive -%}
			{%- set perm_title = _("Make group {0} permissive.").format(group.name) -%}
			{%- set perm_class = "group_permissive_action" -%}
			{%- set perm_img   = "/media/images/24x24/locked_box.png" -%}
		{%- else -%}
			{%- set perm_title = _("Make group {0} NOT permissive.").format(gname) -%}
			{%- set perm_class = "group_not_permissive_action" -%}
			{%- set perm_img   = "/media/images/24x24/locked.png" -%}
		{%- endif -%}
		
		{%- set perm_alt   = "Permissivness image" -%}

		<img src='{{ perm_img }}' class='{{ perm_class }}' alt='{{ perm_alt }}' title='{{ perm_title }}'/>
	{%- endif -%}
	
{%- endmacro -%}


<tr class='licorn_row {{ get_group_filter_class(group) }}' data-id="{{ group.gidNumber }}" id='groups_{{ group.gidNumber }}'>
	<!-- type -->
	<td class='centered' width="5%">
		{{ get_group_type_img(group) }}
	</td>
	<!-- permissive -->
	<td class='centered' width="10%">
		{{ get_group_permissivness_img(group) }}
	</td>
	<!-- name -->
	<td width="10%">
		{%- if group.is_standard -%}
			<strong>
		{%- elif group.is_privilege -%}
			<em>
		{%-endif-%}

		<span>{{ group.name }}</span>

		{%- if group.is_standard -%}
			</strong>
		{%- elif group.is_privilege -%}
			</em>
		{%-endif-%}
	</td>
	<!-- description -->
	<td width="55%">
		<span>{{ group.description }}</span>
	</td>
	<!-- gidNumber -->
	<td width="5%">
		<div class="centered">{{ group.gidNumber }}</div>
	</td>
	<!-- backend -->
	<td class='centered' width="5%">
		{{ get_group_backend_img(group) }}
	</td>
	<!-- skel -->
	<td width="10%" class="centered">
		<a href='#' class='licorn_tooltip' title="{{ group.groupSkel }}">{{ group.groupSkel.split('/')[-1] }}</div>
	</td>
	
	
</tr>
















