{#- Copyright 2012 META IT & Robin Lucbernet<robin@meta-it.fr>
    Distributed under the terms of the GNU GPL version 2. -#}

{%- extends 'list.html' -%}

{%- block title -%}
	{{ _('Groups management') }}
{%- endblock -%}


{%- block list_title -%}
	{{ _('Groups') }} (<span id='model_groups_count'>{{ groups|length }}</span>)
{%- endblock -%}

{%- block massive_actions -%}
	<div class="btn-group">
		<button class="btn massive_action" data-url='/groups/massive/delete/' data-name='delete'>
			<img src="/media/images/24x24/mass_del.png" title="{{ _('Massively delete groups.') }}" alt="massive delete icon"/>
		</button>
		<button class="btn massive_action" data-url='/groups/massive/permissivness/' data-name='permissive'>
			<img src="/media/images/24x24/mass_lock.png" title="{{ _('Massively make/unmake groups permissive.') }}" alt="massive permissive icon"/>
		</button>
		<button class="btn massive_action" data-url='/groups/massive/export/' data-name='export'>
			<img src="/media/images/24x24/mass_export.png" title="{{ _('Massively export groups.') }}" alt="massive export icon"/>
		</button>
		<button class="btn massive_action" data-url='/groups/massive/apply_skel/' data-name='skel'>
			<img src="/media/images/24x24/mass_skel.png" title="{{ _('Massively reapply groups\' skel on groups\' members.') }}" alt="massive apply skel icon"/>
		</button>
		<button class="btn massive_action" data-url='/groups/massive/edit/' data-name='edit'>
			<img src="/media/images/24x24/mass_group.png" title="{{ _('Massively edit groups.') }}" alt="massive edit groups icon"/>
		</button>
	</div>
{%- endblock -%}

{%- block list_filters -%}



	<div class="btn-group" data-toggle="buttons-checkbox">
		{% if request.user.is_superuser %}
			<button id='filter_standart' class="btn filter_item" data-filter='standard'>
				{{ _('Standards') }}
			</button>
			<button id='filter_privileged' class="btn filter_item" data-filter='privileged'>
				{{ _('Privileged') }}
			</button>
			<button id='filter_system' class="btn filter_item" data-filter='system'>
				{{ _('Systems') }}
			</button>
			<button id='filter_restricted' class="btn filter_item" data-filter='restricted'>
				{{ _('Restricted') }}
			</button>
		{% elif request.user.is_staff %}
			<button id='filter_standard' class="btn filter_item" data-filter='standard'>
				{{ _('Standards') }}
			</button>
			<button id='filter_privileged' class="btn filter_item" data-filter='privileged'>
				{{ _('Privileged') }}
			</button>
		{% endif %}

	</div>
{%- endblock -%}

{%- block list_headers -%}
	<th class='table_column_header centered'>{{ _('Permissive') }}</th>
	<th class='table_column_header centered'>{{ _('Type') }}</th>
	<th class='table_column_header'>{{ _('Name') }}</th>
	<th class='table_column_header centered'>{{ _('Description') }}</th>
	<th class='table_column_header centered'>{{ _('Group identifier') }}</th>
	<th class='table_column_header centered'>{{ _('Skel') }}</th>
{%- endblock -%}

{%- block list_body -%}
	<style>
		.licorn_row[style~="hidden;"]{
		    height:0;
		}​
	</style>
	{%- for group in groups -%}
		{%- include 'groups/group_row.html' -%}
	{%- endfor -%}
{%- endblock -%}



