<div class='sub_content_line'>
	<div class='sub_content_title'><strong>{{ title }}</strong></div>
	<span id='click_item_id' style='display: none'>user</span>
	<div class='sub_content_list'>
		{%- if users_list.groups == [] -%}
		<div class="no_item_text">
			<center>There is no {{ users_list.name }} group yet on the system</center>
		</div>

		{%- else -%}
			{%- set relationships = [ 'no_membership', 'guest', 'member', 'resp', 'incomplete' ] -%}
			{%- for item in users_list.users -%}

				{%- if mode == 'edit'-%}
					{%- set rel = users_list.group.get_relationship(item.uidNumber) -%}
					{%- set instant_apply_class = 'instant_click' -%}
				{%- elif mode == "massiv" -%}
					{# if all gids have the same relationship with the user, show it, else no relationship #}

					{# http://stackoverflow.com/questions/4870346/can-a-jinja-variables-scope-extend-beyond-in-an-inner-block #}

					{%- set rel_ref = [] -%}
					{%- set same_rel = [] -%}
					{% for g in users_list.groups %}
						{% if rel_ref == [] %}
							{%- do rel_ref.append(g.get_relationship(item.uidNumber)) -%}
						{% else %}
							{% if rel_ref[0] != g.get_relationship(item.uidNumber) %}
								{%- do same_rel.append(0) -%}
							{% endif %}
						{% endif %}
					{% endfor %}


					{% if same_rel == [] %}
						{%- set rel = rel_ref[0] -%}
					{% else %}
						{%- set rel = 4 -%}
					{% endif %}

					{%- set instant_apply_class = 'instant_click' -%}
				{%- else -%}
					{%- set rel= 0 -%}
					{%- set instant_apply_class = '' -%}
				{%- endif -%}
				<span class='click_item' value='{{ relationships[rel] }}' id='{{ item.uidNumber }}'>
					{%- set nm_uid = '' -%}
					{%- set g_uid  = '' -%}
					{%- set m_uid  = '' -%}
					{%- set r_uid  = '' -%}


					{%- if rel == 0 -%}
						{%- set nm_uid = item.uidNumber -%}
					{%- elif rel == 1 -%}
						{%- set g_uid = item.uidNumber -%}
					{%- elif rel == 2 -%}
						{%- set m_uid = item.uidNumber -%}
					{%- elif rel == 3 -%}
						{%- set r_uid = item.uidNumber -%}
					{%- endif -%}




					<input type='hidden' class='item_hidden_input' name='no_membership_users' value='{{ nm_uid }}'/>
					<input type='hidden' class='item_hidden_input' name='guest_users' value='{{ g_uid }}'/>
					<input type='hidden' class='item_hidden_input' name='member_users' value='{{ m_uid }}'/>
					<input type='hidden' class='item_hidden_input' name='resp_users' value='{{ r_uid }}'/>
					<span class='item_title {{ relationships[rel] }}_bkg'>{{ item.login }}</span>
					<!--<span class='item_relation '></span>-->


					<div class="popover">
						<div class="user_popover_content" id="user_popover_{{ item.uidNumber }}">

							<div class='popover_item rel_no_membership {{ instant_apply_class }}'
								id='{{ item.uidNumber }}' value='no_membership'
								data-instant-url="/groups/mod/{{users_list.group.gidNumber}}/users/{{ item.uidNumber }}/0">
								<span class='item_title no_membership_bkg '>{{ _('no membership') }}</span>
							</div>
							{% if item.is_standard %}
							<div class='popover_item rel_guest {{ instant_apply_class }}' id='{{ item.uidNumber }}' value='guest'
							data-instant-url="/groups/mod/{{users_list.group.gidNumber}}/users/{{ item.uidNumber }}/1" >
								<span class='item_title guest_bkg'>{{ _('guest') }}</span>
							</div>
							{% endif %}
							
							<div class='popover_item rel_member {{ instant_apply_class }}' id='{{ item.uidNumber }}' value='member' data-instant-url="/groups/mod/{{users_list.group.gidNumber}}/users/{{ item.uidNumber }}/2">
								<span class='item_title member_bkg'>{{ _("member") }}</span>
							</div>
							{% if item.is_standard %}
							<div class='popover_item rel_resp {{ instant_apply_class }}' id='{{ item.uidNumber }}' value='resp' data-instant-url="/groups/mod/{{users_list.group.gidNumber}}/users/{{ item.uidNumber }}/3">
								<span class='item_title resp_bkg'>{{ _('responsible') }}</span>
							</div>
							{% endif %}

						</div>
					</div>
				</span>

			{%- endfor -%}
		{%- endif -%}

	</div>
</div>
