{#- Copyright 2012 META IT & Olivier Cortès <olive@licorn.org>
    Distributed under the terms of the GNU GPL version 2. -#}

{%- extends 'base.bootstrap.html' -%}

{% block title %}{{ _('Password required for web share {0}').format(shname) }}{% endblock %}

{%- block container -%}
	<style type="text/css">
		.centered {
			text-align: center;
		}
	</style>
	<div class='row'>
		<div>&nbsp;</div>
		<div class=" span6 offset2 hero-unit">
			<h2>{{ _('Restricted access') }}</h2>
			<form method='POST' action='{{ request.path }}' class="form-inline">
				{% csrf_token %}

				{% if form.errors or form.non_field_errors() %}
					<p>
						{% trans count=form.errors.items()|length() %}
							Please correct the error below
						{% pluralize %}
							Please correct the errors below
						{% endtrans %}
					{{_('to access share <strong><em>{0}</em></strong>:').format(shname) }}</p>
				{% else %}
					<p>{{_('Please enter the password for share <strong><em>{0}</em></strong>:').format(shname) }}</p>

				{% endif %}

				{% if form.non_field_errors() %}
				<div class="centered">
					<ul class="unstyled">
					{% for error in form.non_field_errors() %}
						<li><i class="icon-warning-sign"></i>&nbsp;{{ error }}</li>

					{% endfor %}
					</ul>
				</div>
				{% endif %}

				<div class="centered">
					<span class="control-group {{ 'error' if form.errors }}">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-lock"></i></span>{{ form.password }}
						</div>
					</span>
					<input type="submit" value="{{ _('Enter') }}"/>
				</div>
			</form>

			<script language="javascript">
			$(document).ready(function(){
				$('#id_password').focus();
			});

			</script>

		</div>
	</div>
{%- endblock -%}
