{#- Copyright 2012 META IT & Olivier Cortès <olive@licorn.org>
    Distributed under the terms of the GNU GPL version 2. -#}

{%- extends 'fullbase.html' -%}

{%- block title -%}{{ _('My web shares') }}{%- endblock -%}

{%- from 'widgets/common.html' import jquery_icheckbox_media, jquery_popover_media -%}

{%- block extended_media -%}
	{{ jquery_icheckbox_media() }}
	{{ jquery_popover_media() }}
	
{%- endblock -%}

{%- block main_content -%}
	{%- include 'shares/index_main.html' -%}
{%- endblock -%}

{%- block sub_content -%}

{%- endblock -%}


