{#- Copyright 2012 META IT & Olivier Cortès <olive@licorn.org>
    Distributed under the terms of the GNU GPL version 2. -#}

<style type="text/css">
.volumes_list {
	margin-top: 20px;
	list-style: none;
}

.volumes_list li {
	margin-top: 20px;
}

.volumes_list ul {
	margin-top: 5px;
}
.volumes_list ul li {
	white-space: nowrap;
	#padding-left: 10px;
	margin-left: 25px;
	margin-top: 0;
}

.backups_important {
	text-align: center;
	margin: 10px 10%;
	padding: 7px 7px 7px 62px;
	font-weight: bolder;
	border-radius:5px;
	background-color: #CB4B4B;
	background-image: url('/media/images/48x48/dialog-warning.png');
	background-repeat:no-repeat;
	background-position: 12px center;
}

.backups_statistics {
	font-size: 70%;
	padding: 1em 0;
}
</style>
	<div style="font-size:120%;
		text-align: justify; margin-left:10%;
		margin-right: 10%;">

	{%- if user.accepts_shares -%}

		{%- set shares = user.list_shares() -%}

		<h1>{{ _('My web shares') }} {{ '({0})'.format(shares|count) }}</h1>

		{%- if shares -%}

			<table class="wmi-table">
			<tr>
				<th>{{ _('Name') }}</th>
				<th>{{ _('Actual contents') }}</th>
				<th>{{ _('Writable') }}</th>
				<th>{{ _('Expires') }}</th>
			</tr>
			{%- for share in shares -%}
				{%- include 'shares/parts/share-view.html' with context -%}

			{%- endfor -%}
			</table>

		<p class="grayed_out smaller centered vertical-space-big">{{ _('You can manage files in your shares with your prefered file-manager: <code>Nautilus</code> or <code>Dolphin</code> on Ubuntu, <code>Explorer</code> on Windows and <code>Finder</code> on a Mac.') }}</p>

		{%- else -%}

			<h1>{{ _('No web share') }}</h1>

			<p>{{ _('You do not have any share yet. You can start one easily by making a new directory in "~/Public/" (just create it if it does not exist).') }}</p>

		{%- endif -%}


		{%- if request.user.is_staff -%}

			<p class="grayed_out smallest centered vertical-space-small">{{
				_('You can <a href="{0}">disable web shares</a> for your account at any moment.').format(url_for('wmi.shares.views.disable')) }}</p>

		{%- endif -%}

	{%- else -%}

		<h1>{{ _('Web shares turned off') }}</h1>
		<p>{{ _('You (or someone else) disabled the web sharing feature for your account. You can <a href="{0}">enable them again</a> at any moment.').format(
				url_for('wmi.shares.views.enable')) }}</p>

		{%- if request.user.is_staff -%}

		<p class="vertical-spaced">{{ _('If you want to manually re-enable them, just remove the file named <code>{0}</code>. This has exactly the same effect.').format(user.shares_disabler) }}</p>

		{%- endif -%}

	{%- endif -%}
	</div>
	<script type="text/javascript" language="javascript">
	$(document).ready(function() {

		$('.action_button').each(function() {
			$(this).click(function() {

				thelink = $(this).parent().attr('action');

				$.get(thelink, function(data){
					//console.log(thelink + ' returned ' + data);
				});
			});
		});

		setup_ajaxized_links('.ajax-shares-link');
	});
	</script>
