{#- Copyright 2012 META IT & Olivier Cortès <olive@licorn.org>
    Distributed under the terms of the GNU GPL version 2. -#}

{%- extends 'base.bootstrap.html' -%}
{%- block base_media %}
	<script type="text/javascript" src="/media/js/jquery.upload_dnd.js"></script>
{%- endblock %}

{% block title %}{{ _('Web share {0}').format(share.name) }}{% endblock %}

{%- block container -%}
<style type="text/css">
	.centered {
		text-align: center;
	}
</style>
<div class="row">
	<div class="span8 offset2">
		{%- if request.user.is_authenticated()
						and request.user.username == share.coreobj.name -%}

			<a href="{{ url_for('wmi.shares.views.index') }}"
				class="btn btn-primary pull-right">
				{{ _('Configure your share&nbsp;&raquo;') }}
			</a>

		{%- endif -%}

		<h1>{{ _('Welcome to share <em>{0}</em>').format(share.name) }}</h1>
	</div>

	{%- set contents_numbers = share.contents() -%}

	{%- if share.accepts_uploads -%}

		<div class="span8 offset1 hero-unit">
			<h2>{{ _('Uploaded documents') }}</h2>
			<div class='row'>

				<div class='span5' id="upload_recap">
					&nbsp;
				</div>
				<div class='span3'>
					<div class="centered">
						{% csrf_token %}
						<div id='file_upload'>
						</div>
					</div>
				</div>
			</div>
			<p>
				<span id="upload_files">
					{%- include 'shares/parts/uploaded_files.html' -%}
				</span>
			</p>
		</div>

	{# else:
		We choose not to display a message in case the owner doesn't accept
		uploads on this share. This could just frustrate the visitor. #}
	{%- endif -%}

	{%- if contents_numbers.files -%}

	<p>&nbsp;</p>
	<p class="span8 offset2">{{ _('Click on a filename to download it to your computer:') }}</p>

		{%- set contents = share.contents(with_paths=True) -%}
		<div class="span8 offset2" id='download_table'>
		<table class="table table-striped">
			<tr>
				<th>{{_('File name')}}</th>
				<th>{{_('Size')}}</th>
				<th>{{_('Last modified')}}</th>
				<th>{{_('Type')}}</th>
			</tr>

			{%- for filename in contents.files|sort -%}
				{%- set infos     = share.file_informations(filename) -%}
				{%- set pub_fname = filename.replace(share.path, '')[1:] -%}
				<tr>
					<td><i class="icon-file"></i> <a href="{{
								url_for('wmi.shares.views.download',
								args=(share.coreobj.name, share.name, pub_fname))}}" class='download_file'>{{ pub_fname }}</a></td>
					<td>{{ bytes_to_human(infos.size) }}</td>
					<td>{{ format_time_delta(infos.mtime, use_neg=True, long_output=False) }}</td>
					<td>{{ infos.mimetype }}</td>
				</tr>

			{%- endfor -%}
		</table>
		</div>
	{%- else -%}

		<div class="hero-unit span8 offset1">
			<h2>{{ _('No shared document') }}</h2>
			<p>{{ _('Ask the person who sent you here to populate his share directory. Perhaps he has forgotten?') }}</p>
		</div>
	{%- endif -%}
</div>
<script language="javascript">
	$(document).ready(function() {
		$('#file_upload').upload_dnd({

			upload_action_url : "/share/{{share.coreobj.login }}/{{ share.name }}/upload/toto",

			upload_data : {
				csrfmiddlewaretoken: $('input[name$="csrfmiddlewaretoken"]').attr('value'),
			},

			upload_box_style : {
				'border' : '0',
				'border-radius': '5px',
				'-moz-box-shadow': '0 0 10px #aaa',
				'-webkit-box-shadow': '0 0 10px #aaa',
				'box-shadow': '0 0 10px #aaa',
				'padding' : '15px 15px 28px',
				'background': '#ddf url("/media/images/48x48/mail-attachment.png") no-repeat center',
				'height' : '150px' },
			upload_box_style_on_hover : {
				//'border' : '0',
				//'border-radius': '5px',
				//'-moz-box-shadow': '0 0 10px #aaa',
				//'-webkit-box-shadow': '0 0 10px #aaa',
				//'box-shadow': '0 0 10px #aaa',
				//'padding' : '14px 14px 27px',
				'background': 'url("/media/images/48x48/mail-inbox.png") no-repeat center',
								'height' : '150px' },

			recap_element : $('#upload_recap'),
			recap_line : '<div class="row"><div class="span3" style="overflow:hidden;" id="recap_file_name"></div><div id="recap_file_size" class="span1"></div><div class="span1" id="recap_file_progress"></div></div>',

			success_handler: function(data) {
				$('#uploaded_files').html(data);
			},

			file_size_max : "{{ file_size_max }}"
		})





	});
</script>


{% endblock %}
