{#- Copyright 2012 META IT & Olivier Cortès <olive@licorn.org>
    Distributed under the terms of the GNU GPL version 2. -#}

{%- extends 'base.bootstrap.html' -%}

{%- from 'widgets/common.html' import jquery_dnd_media -%}

{%- block base_media %}
	{{ jquery_dnd_media() }}
{%- endblock %}

{% block extended_media %}
	<script type="text/javascript" src="/media/js/jquery.zclip.min.js"></script>
{% endblock %}

{% block title %}{{ _('Web share {0}').format(share.name) }}{% endblock %}

{%- block container -%}
<style type="text/css">
	.centered {
		text-align: center;
	}
</style>
<div class="row">
	<div class="span5 offset3 alert alert-success">
		<div class="centered" title="{{ _('Click the button to copy the URL to clipboard') }}">
			{{ _('Public link for this share:') }}
				<a id="copy_url" href="#" class="btn btn-success">{{ share.uri }}</a>
				<div id="copy_message_success" class="hidden">{{ _('Successfully copied to clipboard!') }}</div>
				<script>
					function success_message() {
						setTimeout(function(){
							$('#copy_message_success').slideDown('fast');
							setTimeout(function(){
								$('#copy_message_success').slideUp('slow');
							}, 2000);
						}, 150);
					}

					function cleanup_zclip() {
						$("#copy_message_success").focus();

						setTimeout(function() {
							// remove zclip to restore normal focus,
							// else flash grabs it eternally.
							$('a#copy_url').zclip('remove');
						}, 150);

						// restore zclip afterwards for the copy
						// mechanism to continue working.
						setTimeout(setup_zclip, 200);

						return true;
					}

					function setup_zclip(){

						$('a#copy_url').zclip({
							path:'/media/images/ZeroClipboard.swf',
							copy:$('a#copy_url').text(),
							beforeCopy: success_message,
							afterCopy: cleanup_zclip,
						});
					}

					setup_zclip();
				</script>
		</div>
	</div>

	<div class="span8 offset2">
		{%- if request.user.is_authenticated()
						and request.user.username == share.coreobj.name -%}

			<a href="{{ url_for('wmi.shares.views.index') }}"
				class="btn pull-right">
				{{ _('Configure your share&nbsp;&raquo;') }}
			</a>

		{%- endif -%}

		<h1>{{ _('Welcome to share <em>{0}</em>').format(share.name) }}</h1>
		<div>&nbsp;</div>
	</div>

	{%- set contents_numbers = share.contents() -%}

	{%- if share.accepts_uploads -%}

		<div class="span8 offset1 hero-unit">
			<h2>{{ _('Uploaded documents') }}</h2>
			<div class='row'>

				<div class='span5' id="upload_recap">
					<input type='file' id='classic_upload'/>
				</div>
				<div class='span3'>
					<div class="centered">
						{% csrf_token %}
						<div id='file_upload'>
							{{ _("Drop files here to upload them to this share.") }}

							<div id='max_size_file'>{{ _('maximum upload size: {0}').format(bytes_to_human(file_size_max)) }}</div>
						</div>
					</div>
				</div>
			</div>
			<p>
				<span id="uploaded_files">
					{%- include 'shares/parts/uploaded_files.html' -%}
				</span>
			</p>
		</div>

	{# else:
		We choose not to display a message in case the owner doesn't accept
		uploads on this share. This could just frustrate the visitor. #}
	{%- endif -%}

	{%- if contents_numbers.files -%}

	<p>&nbsp;</p>
	<p class="span8 offset2">{{ _('Click on a filename to download it to your computer:') }}</p>

		{%- set contents = share.contents(with_paths=True) -%}
		<div class="span8 offset2" id='download_table'>
		<table class="table table-striped">
			<tr>
				<th>{{_('File name')}}</th>
				<th>{{_('Size')}}</th>
				<th>{{_('Last modified')}}</th>
				<th>{{_('Type')}}</th>
			</tr>

			{%- for filename in contents.files|sort -%}
				{%- set infos     = share.file_informations(filename) -%}
				{%- set pub_fname = filename.replace(share.path, '')[1:] -%}
				<tr>
					<td class="nowrap"><i class="icon-file"></i> <a href="{{
								url_for('wmi.shares.views.download',
								args=(share.coreobj.name, share.name, pub_fname))}}" class='download_file'>{{ pub_fname }}</a></td>
					<td>{{ bytes_to_human(infos.size) }}</td>
					<td>{{ format_time_delta(infos.mtime, use_neg=True, long_output=False) }}</td>
					<td>{{ infos.mimetype }}</td>
				</tr>

			{%- endfor -%}
		</table>
		</div>
	{%- else -%}

		<div class="hero-unit span8 offset1">
			<h2>{{ _('No shared document') }}</h2>
			<p>{{ _('Ask the person who sent you here to populate his share directory. Perhaps he has forgotten?') }}</p>
		</div>
	{%- endif -%}
</div>
<script language="javascript">
	$(document).ready(function() {
		$('#file_upload').upload_dnd({
			upload_action_url : "/share/{{share.coreobj.login }}/{{ share.name }}/+upload",
			recap_line : get_recap_line(),
			success_handler: function(data) {
				$('#uploaded_files').html(data);
			},
			file_size_max : {{ file_size_max }}
		})

		function get_recap_line() {
			return '<div class="row"><div class="span3" style="overflow:hidden;" id="recap_file_name"></div><div id="recap_file_size" class="span1"></div><div class="span1" id="recap_file_progress"></div></div>'
		}
	});
</script>
{% endblock %}
