
{%- macro disconnected(request, myext) -%}
	<p class="alert alert-error">&nbsp;<br />
		{%- if request.user.is_staff -%}
			{%- set res = myext.result -%}

			{{ _('Disconnected from <strong><a href="http://my.licorn.org/"
			target="_blank">My Licorn&reg;</a></strong> service. If the problem does not
			come from your internet connection, <a
			href="http://docs.licorn.org/extensions/mylicorn.en.html#extensions-mylicorn-disconnected-en">documentation is available</a>.<br /><br />Service error:  <strong>code {0}</strong> (<em>{1}</em>).').format(res.code, res.mesg) }}

		{%- else -%}

			{{ _('Short URLs cannot be obtained for technical reason. If the problem does not come from a failing internet connection <a href="http://docs.licorn.org/extensions/mylicorn.en.html#extensions-mylicorn-disconnected-en" target="_blank">technical information is available</a>, but it is probably easier to contact your system manager or support provider.') }}

	{%- endif -%}
	</p>
{%- endmacro -%}

{%- macro unreachable(request, myext) -%}
	<p class="alert alert-warning">
		{%- if request.user.is_staff -%}

			{{ _('Your server is currently <a href="http://docs.licorn.org/extensions/mylicorn.en.html#extensions-mylicorn-unreachable-en" target="_blank">unreachable from the internet</a>. <em>No share will be accessible to your partners</em>. You should configure your firewall to forward port <strong>{0}</strong> to this machine <strong>{1}</strong>, or contact your support provider if you need any help or more information.').format(request.META['SERVER_PORT'], server_address(request)) }}

		{%- else -%}

			{{ _('This server is currently unreachable from the internet. <em>No share will be accessible to your partners</em>. Please contact your system manager or support provider to take the appropriate action.') }}

		{%- endif -%}
	</p>
{%- endmacro -%}
