.table_header {
	
}

.table_header_item {
	width:33%;
	display: block;
	float: left;	
}
.table_header_title {
	
	color: #4c0b21;
	font-size: 24px;
	font-weight: bolder;
	text-align: left;
	font-family: small-caps;
}

.row_selected, .row_selected:hover {
	background-color: #01DFD7;
}
 
.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: inherit;
}

.sortable th {
	cursor: pointer;
	background-repeat: no-repeat;
    background-position: center right;
}

th.headerSortUp {
    background-image: url(/media/images/sort/asc.gif);
}

th.headerSortDown {
    background-image: url(/media/images/sort/desc.gif);
}
.machine_upgrade {
	cursor: pointer;
}