.machines_row {
	#border: 1px solid green;
	width:100%;
	display: block;
	height: 51px;
	text-align: center;
	position: absolute;
	background-color: white;
	cursor: pointer;
}
/*headers*/
.header_select {
	text-align: center;
	width: 4%;
	display: block;
	float:left;
	line-height: 30px;
	vertical-align: center;
}
.header_state {
	width:7%;
	padding-top: 3px;
	margin-bottom: 3px;
	height:27px;
}
.header_hostname {
	#border: 1px solid red;
	width:54%;
	display: block;
	float: left;
	text-align: center;
}
.header_os {
	width:15%;
	display: block;
	float: left;
	text-align: center;
}
.header_type {
	width:15%;
	display: block;
	float: left;
	text-align: center;
}
.header_nav {
	width:5%;
	display: block;
	float: left;
	text-align: center;
}


.machines_select {
	width: 4%;
	text-align: center;
	display: block;
	float:left;
	line-height: 50px;
	vertical-align: center;
}
.machines_state {
	width: 7%;
	display: block;
	float: left;
	padding-top: 13px;
	height: 37px;
	text-align: center;
}
.machines_hostname {
	#border: 1px solid red;
	width: 65%;
	float:left;
	line-height: 50px;
}
.machines_content {
	#border: 1px solid red;
	width: 83%;
	float:left;
	display:block;
	line-height: 50px;
}
.machines_type {
	width: 17%;
	text-align: center;
	display: block;
	float:left;
	line-height: 50px;
	vertical-align: center;
}
.machines_os {
	width: 18%;
	text-align: center;
	display: block;
	float:left;
	line-height: 50px;
	vertical-align: center;
}
.machines_nav {
	text-align: center;
	#border-left: 1px solid;
	#border: 1px dotted red;
	width:5%;
	display: block;
	float:left;
	height:50px;
	line-height: 50px;
	vertical-align: center;
}
.machines_reapply_skel {
	cursor: pointer;
	padding-top:3px;
	height:50%;
	line-height: 100%;
	vertical-align: center;
}
.machines_delete {
	cursor: pointer;
	height:50%;
	line-height: 100%;
	vertical-align: center;
}
