@import "base.less";

body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: @font_color;
	font-family: "Bitstream Charter", Georgia, Serif;
}
#main_content {
	
}
#content {
	margin-right:2.56%;
}

#loading_information {
	position: absolute;
	background-color: white;
	opacity: 0.9;
	color: black;
	font-size: 150%;
	padding-top: 25%;
	vertical-align: middle;
	text-align: center;
}