
@import "base.less";

#sub_content_wrapper {
	position: absolute;
	left: 51%;
	width: 46%;
	height: 100%;
	margin: 0 2% 0 3%;
	overflow: auto;
}
#sub_content {
	padding: 10px;
	width: 90%;
	margin: 10px auto;
}

#sub_content_header {
	padding: 0;
	margin: 0;
}

h1#sub_content_title {
	text-align: right;
	font-variant: small-caps;
	margin: 0;
	padding: 0;
}

#sub_content_back {
	width: 10%;
	float: left;
	font-size:100%;
	margin-top: 7px;
}

/*  sub_content */
#sub_content_area {
	height: 100%;
	padding: 10px;
	/*.border_radius();
	.background_gradient_bevel();*/
}
.sub_content_line {
	width: 100%;
}
.one_line {
	height: 30px;
}
.big_line {
	height: 40px;
}
.last_line {
	margin-top:20px;
	height: 30px;
}

.sub_content_half_line {
	width: 49%;
	float: left;
}

.sub_content_third_line {
	width: 33%;
	float: left;
}
.sub_content_two_third_line {
	width: 65%;
	float: left;
}

.sub_content_title {
	border-bottom: 1px solid black;
	width: 100%;
	height: 20px;
	padding-top: 5px;
	font-weight: bold;
}
.sub_content_list {
	overflow: auto;
	min-height: 100px;
}

.sub_content_title_sub {
	font-weight: normal;
	font-size: 90%;
}

/*====================================================================== VIEW */


#sub_content_area table {
	width: 100%;
}

#sub_content_area table.item_members {
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
}

#sub_content_area table.item_members table {
	border-collapse: collapse;
}

#sub_content_area table.item_members tr:hover td {
	background-color: @selection_color;
}

#sub_content_area table.item_members tr:hover td.first {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#sub_content_area table.item_members tr:hover td.last {
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#sub_content_area table.item_members tr:hover td.alone {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#sub_content_area table.item_members td, #sub_content_area table.item_members th {
	padding: 2px 4px;
}
#sub_content_area table.item_members tr:nth-child(odd) {
	background-color: rgba(255,255,255,0.06);
}
#sub_content_area table.item_members tr:nth-child(even) {
	background-color: rgba(0,0,0,0.06);
}

#sub_content_area table table td, #sub_content_area table table th {
	padding: 0;
}
#sub_content_area table.item_members table tr:hover td {
	background-color: rgba(0,0,0,0);
}
#sub_content_area table.item_members table tr:nth-child(odd) {
	background-color: rgba(0,0,0,0);
	}
#sub_content_area table.item_members table tr:nth-child(even) {
	background-color: rgba(0,0,0,0);
}

#sub_content_area table.item_members thead {
    border-bottom:1px solid rgba(0,0,0,0.2);
}
#sub_content_area table.item_members tfoot {
    /*border-top:1px solid rgba(0,0,0,0.2);*/
}

