
@import "base.less";

#index_no_staff table, #sub_content_area table {
	width: 100%;
}

#index_no_staff table.item_members, #sub_content_area table.item_members {
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
}

#index_no_staff table.item_members table, #sub_content_area table.item_members table {
	border-collapse: collapse;
}

#index_no_staff table.item_members tr:hover td, #sub_content_area table.item_members tr:hover td {
	background-color: @selection_color;
}

#index_no_staff table.item_members tr:hover td.first, #sub_content_area table.item_members tr:hover td.first {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#index_no_staff table.item_members tr:hover td.last, #sub_content_area table.item_members tr:hover td.last{
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#index_no_staff table.item_members tr:hover td.alone, #sub_content_area table.item_members tr:hover td.alone {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#index_no_staff table.item_members td, #sub_content_area table.item_members th, #sub_content_area table.item_members td, #sub_content_area table.item_members th {
	padding: 2px 4px;
}
#index_no_staff table.item_members tr:nth-child(odd), #sub_content_area table.item_members tr:nth-child(odd) {
	background-color: rgba(255,255,255,0.06);
}
#index_no_staff table.item_members tr:nth-child(even), #sub_content_area table.item_members tr:nth-child(even) {
	background-color: rgba(0,0,0,0.06);
}

#index_no_staff table table td, #sub_content_area table table th, #sub_content_area table table td, #sub_content_area table table th {
	padding: 0;
}
#index_no_staff table.item_members table tr:hover td, #sub_content_area table.item_members table tr:hover td {
	background-color: rgba(0,0,0,0);
}
#index_no_staff table.item_members table tr:nth-child(odd), #sub_content_area table.item_members table tr:nth-child(odd) {
	background-color: rgba(0,0,0,0);
	}
#index_no_staff table.item_members table tr:nth-child(even), #sub_content_area table.item_members table tr:nth-child(even) {
	background-color: rgba(0,0,0,0);
}

#index_no_staff table.item_members thead, #sub_content_area table.item_members thead {
    border-bottom:1px solid rgba(0,0,0,0.2);
}
#index_no_staff table.item_members tfoot, #sub_content_area table.item_members tfoot {
    /*border-top:1px solid rgba(0,0,0,0.2);*/
}

