<table class="table table-striped" id="extinction_recap_table">
	<thead>
		<th>{{ _('Week day') }}</th>
		<th>{{ _('Time') }}</th>
		<th>{{ _('Machines') }}</th>
	</thead>

	{%- for rule in tasks -%}

		<tr>
			<td width="20%">
				<!-- Week day -->
				{{ get_days(rule.week_day) }}
			<td width="10%">
				<!-- time -->
				{{ rule.hour.zfill(2) }}:{{ rule.minute.zfill(2) }}
			<td width="60%">
				<!-- machines -->
				{%- set tab = [] -%}
				{%- for m in rule.args -%}
					{%- do tab.append(generate_machine_html(m)) -%}
				{%- endfor -%}
				{{ tab|join(', ') }}
			</td>

			<!-- delete button -->
			<td width="10%">
				<span class='del_rule' onClick="del_rule({{ rule.id }})">
					<img src="/media/images/24x24/mass_del.png" alt="{{ _('Delete rule') }}" title='{{ _("Delete rule") }}' width='16' height='16'/>
				<span>
			</td>
		</tr>

	{%- endfor -%}

</table>
<script language="javascript" type="text/javascript">

		$(document).ready(function() {
			$('.del_rule').hide();
			$("#extinction_recap_table tr").mouseover(function() {
				$(this).find(".del_rule").show();
			}).mouseout(function(){
				$(this).find(".del_rule").hide();
			});
		});

</script>
